<div class="flex items-center flex-wrap overflow-hidden">
<% post.post_reactions.pluck(:body).uniq.each do |body| %>
  <% reactions = post.post_reactions.filter { |r| r.body === body } %>
  <% if current_user %>
    <% reacted = reactions.find { |f| f.user_id === current_user.id } %>
    <%= form_with(
      model: PostReaction.new,
      url: reacted ? delete_post_reaction_path(post_id: post.id, id: reacted.id) : create_post_reaction_path(post_id: post.id),
      method: reacted ? :delete : :post,
      class: "flex items-center"
    ) do |f| %>
      <%= f.hidden_field :body, value: body %>
      <button
        data-controller="tooltip"
        data-tooltip-text-value="<%= reactions.map { |r| "@#{r.user.username}" }.uniq.join(",") %>"
        class="rounded-full <%= reacted ? "bg-sky-50 hover:bg-sky-100 border dark:bg-sky-900  dark:hover:bg-sky-800 dark:border-sky-400 border-sky-600" : "hover:bg-gray-100 bg-gray-50 border-gray-50 hover:border-gray-100 dark:bg-slate-700 dark:border-slate-700 dark:hover:border-slate-600 dark:hover:bg-slate-600" %> py-[2px] px-[6px] mr-[4px] my-1 flex items-center mr-[2px] border dark:text-slate-50 animate-fade-in transition-all"
        
      >
        <span class="emoji mr-1"><%= body.html_safe %></span>
        <span class="text-xs"><%= reactions.length %></span>
      </button>
    <% end %>
  <% else %>
    <div class="rounded-full py-[2px] px-1 my-1 flex items-center mr-[4px] border bg-gray-50 dark:bg-slate-700 dark:border-slate-700 border-gray-50 animate-fade-in transition-all">
      <span class="emoji mr-1"><%= body.html_safe %></span>
      <span class="text-gray-400 text-xs dark:text-slate-50"><%= reactions.length %></span>
    </div>
  <% end %>
<% end %>
<% if current_user %>
  <%= form_with(
    model: PostReaction.new,
    url: create_post_reaction_path(post_id: post.id),
    class: "flex my-1 items-center",
    data: { controller: "emoji-picker", turbo_frame: "post_reactions_list-#{post.id}" }
  ) do |f| %>
    <%= f.hidden_field :body, data: { emoji_picker_target: "input" } %>
    <button
      type="button"
      data-emoji-picker-target="button"
      data-action="click->emoji-picker#open"
      class="<%= indicator_class %>"
      
    >
      <div class="i-lucide-smile-plus"></div>
    </button>
  <% end %>
<% end %>
</div>
