<div class="border-b p-5 text-sm group" data-controller="post-show">
  <div class="flex space-x-1 items-center mb-2">
    <%= render partial: 'shared/avatar', locals: { user: item.user } %>
    <time class="text-gray-400"><%= time_ago_in_words(item.created_at) %></time>
    <div class="grow"></div>
    <% if item.user == current_user %>
      <button class="hover:bg-gray-100 rounded-full p-2" data-action="post-show#edit" data-post-show-target="editButton">
        <%= image_tag "icons/edit.svg", alt: "edit", class: "w-5 h-5" %>
      </button>
      <button class="hidden hover:bg-gray-100 rounded-full p-2" data-action="post-show#close" data-post-show-target="closeButton">
        <%= image_tag "icons/cancel.svg", alt: "edit", class: "w-5 h-5" %>
      </button>
      <div class="mt-[1px]">
        <%= button_to(
          delete_comment_url(post_id: item.post.id, id: item.id),
          method: :delete,
          class: "hover:bg-gray-100 rounded-full p-2",
          data: {
            turbo_frame: "comments",
            turbo_confirm: I18n.t("comments.confirm_delete")
          }
        ) do %>
          <%= image_tag "icons/delete.svg", alt: "edit", class: "w-5 h-5" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag "comment-#{item.id}", data: { post_show_target: "show" }, class: "markdown-body", style: item.emoji_only? ? "font-size: 32px;" : "" do %>
    <%= item.html.html_safe %>
  <% end %>
  <div class="hidden" data-post-show-target="editor">
    <%= form_with model: item, url: update_comment_path(post_id: item.post.id, id: item.id), id: "post-form", data: { action: "turbo:submit-end->post-show#close turbo:submit-end->turbo-form#clear",turbo_frame: "comment-#{item.id}", controller: "turbo-form markdown", post_editor_confirm_message: I18n.t("page.confirm_leave"),  markdown_min_height_value: "100px", markdown_placeholder_value: I18n.t("comments.placeholder") }, class: "grow transition-all" do |f| %>
      <div>
        <%= flash[:error] %>
        <div class="max-w-3xl mx-auto">
          <div class="bg-white">
            <div data-markdown-target="editorContainer">
              <%= f.text_area :body, data: { markdown_target: "editor", post_editor_target: "body" }, class: "prose resize-none" %>
            </div>
            <div class="markdown-body hidden px-5 min-h-[100px]" data-markdown-target="preview"></div>
          </div>
        </div>
      </div>
      <div class="flex pt-3 w-full items-center bg-white">
        <div class="grow"></div>
        <div class="px-1">
          <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all" title="<%=  I18n.t('posts.preview') %>" data-action="markdown#preview" data-markdown-target="previewButton">
            <%= image_tag "icons/preview.svg", alt: "preview", class: "w-5 h-5" %>
          </button>
          <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all hidden" title="<%=  I18n.t('posts.edit') %>" data-action="markdown#edit" data-markdown-target="editorButton">
            <%= image_tag "icons/edit.svg", alt: "edit", class: "w-5 h-5" %>
          </button>
        </div>
        <div class="px-1">
          <%= f.submit I18n.t('posts.update'), class: primary_button_class, data: { post_editor_target: "publish" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
