<% cheer.cheer_reactions.pluck(:body).uniq.each do |body| %>
  <% reactions = cheer.cheer_reactions.where(body: body) %>
  <% if current_user %>
    <% reacted = cheer.cheer_reactions.exists?(user_id: current_user.id, body: body) %>
    <%= form_with(
      model: CheerReaction.new,
      url: reacted ? delete_cheer_reaction_path(post_id: cheer.post.id, cheer_id: cheer.id, id: cheer.cheer_reactions.find_by(user_id: current_user.id, body: body).id) : create_cheer_reaction_path(post_id: cheer.post.id, cheer_id: cheer.id),
      method: reacted ? :delete : :cheer,
      class: "flex items-center"
    ) do |f| %>
      <%= f.hidden_field :body, value: body %>
      <button
        
        data-controller="tooltip"
        data-tooltip-text-value="<%= reactions.map { |r| "@#{r.user.username}" }.uniq.join(",") %>"
        class="rounded-full <%= reacted ? "bg-sky-50 hover:bg-sky-100 border dark:bg-sky-900  dark:hover:bg-sky-800 dark:border-sky-400 border-sky-600" : "hover:bg-gray-100 bg-gray-50 border-gray-50 hover:border-gray-100 dark:bg-slate-700 dark:border-slate-700 dark:hover:border-slate-600 dark:hover:bg-slate-600" %> py-[2px] px-[6px] mx-1 text-sm  my-1 flex items-center space-x-[2px] border dark:text-gray-200 animate-fade-in transition-all"
      >
        <span class="emoji mr-1"><%= body.html_safe %></span>
        <span class="text-xs"><%= reactions.count %></span>
      </button>
    <% end %>
  <% else %>
    <div class="rounded-ful py-[2px] px-1 mx-1 text-sm my-1 animate-fade-in transition-all flex items-center space-x-1 border bg-gray-50 border-gray-50">
      <span class="emoji mr-1"><%= body.html_safe %></span>
      <span class="text-xs"><%= reactions.count %></span>
    </div>
  <% end %>
<% end %>
<% if current_user %>
  <%= form_with(
    model: CheerReaction.new,
    url: create_cheer_reaction_path(post_id: cheer.post.id, cheer_id: cheer.id),
    class: "flex my-1 items-center",
    data: { controller: "emoji-picker" }
  ) do |f| %>
    <%= f.hidden_field :body, data: { emoji_picker_target: "input" } %>
    <button
      type="button"
      
      data-emoji-picker-target="button"
      data-action="click->emoji-picker#open"
      class="<%= indicator_class %>"
    >
      <div class="i-lucide-smile-plus"></div>
    </button>
  <% end %>
<% end %>
