<% user = notification.subjectable_type == "Follow" ? notification.subjectable.follower : notification.subjectable&.user %>
<% if user %>
  <div data-id="<%= notification.id %>" id="notification_<%= notification.id %>" class="py-2 border-b dark:border-dark-border hover:bg-gray-50 dark:hover:bg-gray-700 px-3 <%= notification.read? ? "read" : "unread" %>">
    <%= link_to notification.link, data: { turbo: false } do %>
      <div class="flex space-x-3">
        <%= image_tag(
          user&.avatar_icon,
          alt: "",
          class: "w-8 h-8 object-cover rounded-full text-xs text-gray-700"
        ) %>
        <div>
          <div><%= notification.message.html_safe %></div>
          <div class="text-xs opacity-50"><%= time_ago_in_words(notification.created_at) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
