<nav data-controller="nav">
  <a
    href="<%= following_path(user.username) %>"
    class="<%= nav_item_class(following_path(user.username)) %> mr-5"
    data-turbo-frame="_top"
    data-nav-target="item"
    data-current="<%= following_path(user.username) %>"
  >
    <%= I18n.t("users.following") %>
  </a>
  <a
    href="<%= followers_path(user.username) %>"
    class="<%= nav_item_class(followers_path(user.username)) %> mr-5"
    data-turbo-frame="_top"
    data-nav-target="item"
    data-current="<%= followers_path(user.username) %>"
  >
      <%= I18n.t("users.followers", user: user.name) %>
  </a>
</nav>
