<div class="<%= card_class %>" data-testid="user_<%= item.id %>">
  <div class="flex items-start">
    <%= render partial: "shared/avatar", locals: { user: item } %>
    <div class="grow"></div>
    <%= render partial: "follows/button", locals: { user: item } %>
  </div>
  <div class="ml-10">
    <%= item.bio %>
  </div>
</div>
