<div class="p-4 sm:rounded my-4 bg-background dark:bg-dark-background">
  <%= render partial: "shared/error_messages", locals: { errors: @user.errors.full_messages } %>
  <%= render partial: "shared/notice_messages", locals: { notice: notice } %>
  <h2 class="border-b dark:border-gray-600 mb-4 font-bold pb-1"><%= I18n.t("settings.profile") %></h2>
  <%= form_with model: @user, multipart: true, url: update_profile_path, method: :patch, data: { turbo: false } do |f| %>
    <div data-controller="file-field" class="mb-4">
      <%= image_tag @user.avatar_icon, alt: "", width: "100px", height: "100px", class: "w-20 h-20 object-cover rounded-full preview" %>
      <button type="button" class="text-gray-600 inline text-sm hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 rounded-full py-1 px-3 mt-3" data-action="file-field#click" >
        <%= I18n.t("form.button.change_file") %>
      </button>
      <%= f.file_field :avatar, data: { file_field_target: "field" }, accept: "image/png, image/jpeg", class: "hidden" %>
    </div>
    <%= f.label :username, class: label_class %>
    <%= f.text_field :username, class: text_field_class + " mb-5" %>
    <%= f.label :name, class: label_class %>
    <%= f.text_field :name, class: text_field_class + " mb-5" %>
    <%= f.label :bio, class: label_class %>
    <%= f.text_area :bio, class: text_field_class + " mb-5", placeholder: I18n.t("form.placeholder.normal", field: User.human_attribute_name(:bio)) %>
    <%= f.label :github, class: label_class %>
    <%= f.text_field :github, class: text_field_class + " mb-5", placeholder: I18n.t("form.placeholder.github") %>
    <%= f.label :twitter, class: label_class %>
    <%= f.text_field :twitter, class: text_field_class + " mb-5", placeholder: I18n.t("form.placeholder.twitter") %>
    <%= f.label :website, class: label_class %>
    <%= f.text_field :website, class: text_field_class + " mb-5", placeholder: "https://" %>
    <div class="flex">
      <%= f.submit I18n.t("form.submit.update"), class: primary_button_class %>
    </div>
  <% end %>
  <h2 class="border-b mt-8 dark:border-gray-600 mb-4 font-bold pb-1"><%= I18n.t("settings.theme") %></h2>
  <%= form_with model: @user, url: update_theme_path, method: :patch, data: { turbo: false }, multipart: true do |f| %>
    <%= f.label :locale, class: label_class %>
    <%= f.select :locale, [:en, :ja].map { |locale| [I18n.t("settings.locale.#{locale}"), locale] }, {}, class: "#{text_field_class} mb-3" %>
    <%= f.label :code_theme_id, class: label_class %>
    <a href="https://highlightjs.org/examples" target="_blank" rel="noopener noreferrer" class="text-sky-600 hover:underline mb-4 flex items-center space-x-2 text-sm">
      <span><%= I18n.t("settings.theme_preview") %></span>
    </a>
    <%= f.select :code_theme_id, CodeTheme.order(:name).map { |theme| [theme.name, theme.id] }, {}, class: "#{text_field_class} mb-3" %>
    <%= f.label :wallpaper, class: label_class %>
    <div data-controller="file-field" data-file-field-fallback-value="<%= current_user.no_wallpaper %>" class="mb-4">
    <%= image_tag @user.wallpaper_or_none, alt: "", class: "w-[400px] h-[220px] object-cover preview rounded" %>
    <button type="button" class="text-gray-600 inline text-sm hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 rounded-full py-1 px-3 mt-3" data-action="file-field#click" >
      <%= I18n.t("form.button.change_file") %>
    </button>
    <button type="button" class="text-red-600 inline text-sm hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 rounded-full py-1 px-3 mt-3" data-action="file-field#remove" >
      <%= I18n.t("form.submit.delete") %>
    </button>
    <%= f.file_field :wallpaper, data: { file_field_target: "field" }, accept: "image/png, image/jpeg", class: "hidden" %>
    <%= f.hidden_field :no_wallpaper, data: { file_field_target: "fallback" } %>
  </div>
  <div class="flex">
    <%= f.submit I18n.t("form.submit.update"), class: primary_button_class %>
  </div>
  <% end %>
  <h2 class="border-b mt-8 dark:border-gray-600 mb-4 font-bold pb-1"><%= I18n.t("settings.export") %></h2>
  <div class="text-left text-sm">
    <% if current_user.exports.find_by(state: "processing") %>
      <%= I18n.t("settings.exporting") %>
    <% else %>
      <%= link_to(
        "/settings/export",
        data: { turbo: false },
        class: primary_button_class + " inline-flex items-center space-x-1",
      ) do %>
        <%= I18n.t("settings.start_export") %>
      <% end %>
    <% end %>
  </div>
  <h2 class="border-b mt-8 dark:border-gray-600 mb-4 font-bold pb-1"><%= I18n.t("settings.api") %></h2>
  <%= form_with model: @user, url: update_access_token_path, method: :patch, data: { turbo: false }, class: "mb-4" do |f| %>
    <%= f.label :access_token, class: label_class %>
    <%= f.text_field :access_token, class: text_field_class + " mb-5", readonly: true, value: current_user.access_tokens.first&.token %>
    <div class="flex items-center space-x-2">
      <button type="button" data-controller="copy" data-copy-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-copy-content-value="<%= current_user.access_tokens.first&.token %>" class="<%= block_link_class %>  flex items-center space-x-1" >
        <div class="i-lucide-clipboard-copy"></div>
        <span><%= I18n.t("settings.copy") %></span>
      </button>
      <%= f.submit current_user.access_tokens.first&.token ? I18n.t("settings.access_token.regenerate") : I18n.t("settings.access_token.generate"), class: primary_button_class, onclick: "#{ current_user.access_tokens.first&.token ? "return confirm('#{I18n.t("settings.access_token.confirm")}')" : ""}" %>
    </div>
  <% end %>
  <%= form_with model: @user, url: update_webhook_path, method: :patch, data: { turbo: false } do |f| %>
    <%= f.label :webhook_url, class: label_class %>
    <%= f.text_field :webhook_url, class: text_field_class + " mb-5", placeholder: "https://" %>
    <div class="flex">
      <%= f.submit I18n.t("form.submit.update"), class: primary_button_class %>
    </div>
  <% end %>
  <h2 class="border-b mt-8 dark:border-gray-600 mb-4 font-bold pb-1"><%= I18n.t("settings.account") %></h2>
  <div class="text-left text-sm">
    <%= button_to I18n.t("passwordless.sessions.sign_out"), "/sign_out", data: { turbo: false }, method: :delete %>
  </div>
  <h2 class="border-b mt-8 dark:border-gray-600 mb-4 font-bold pb-1">Danger Zone</h2>
  <div class="text-left text-sm">
    <%= button_to(
      I18n.t("users.delete"),
      "/users/#{current_user.id}",
      data: { turbo: false },
      onClick: "return confirm('#{I18n.t("users.confirm_delete")}');",
      method: :delete,
      class: "text-red-500",
      
    ) %>
  </div>
</div>
