<% set_meta_tags(
  title: I18n.t("pages.comments", user: @user.name),
  og: {
    title: I18n.t("pages.comments", user: @user.name),
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="w-full">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username) %>
  </div>
  <div id="user-nav-container" class="top-0 sticky z-[50]" data-turbo-permanent>
    <div class="<%= nav_class %>">
      <div class="<%= nav_list_class %>">
        <%= turbo_frame_tag :user_nav, src: user_nav_path(@user.username) %>
      </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto px-4">
    <%= turbo_frame_tag :posts, target: "_top" do %>
    <% end %>

    <div class="h-4">
      <%= turbo_frame_tag "load_more", src: user_comments_path(username: @user.username, format: :turbo_stream), loading: :lazy %>
      <%= turbo_frame_tag "loading" do %>
        <%= render partial: "posts/loading" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
