<%= turbo_stream.replace "loading" do %>
<% end %>

<%= turbo_stream.append "posts" do %>
  <div data-testid="comment-list">
    <%= render partial: "posts/post", locals: { on_timeline: true } %>
  </div>
<% end %>

<% if @next_page.present? %>
  <%= turbo_stream.replace "load_more" do %>
    <%= turbo_frame_tag "load_more", src: user_comments_path(username: @user.username, page: @next_page, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% end %>
