<% set_meta_tags(
  title: I18n.t("pages.comments", user: @user.name),
  og: {
    title: I18n.t("pages.comments", user: @user.name),
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="mx-auto max-w-3xl px-4 w-full">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username) %>
  </div>
  <div id="user_nav_container" data-turbo-permanent><%= turbo_frame_tag :user_nav, src: user_nav_path(@user.username) %></div>
  <% if @posts.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("posts.not_found") %></p>
  <% else %>
    <%= turbo_frame_tag :posts, target: "_top" do %>
    <% end %>

    <div class="h-4">
      <%= turbo_frame_tag "load_more", src: user_comments_path(username: @user.username, format: :turbo_stream), loading: :lazy %>
      <%= turbo_frame_tag "loading" do %>
      <%= render partial: "posts/loading" %>
      <div class="hidden sm:block">
        <%= render partial: "posts/loading" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<% end %>
