<% set_meta_tags(
  title: I18n.t("pages.following", user: @user.name),
  og: {
    title: I18n.t("pages.following", user: @user.name),
  }
) %>

<div class="w-full max-w-3xl mx-auto">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username) %>
  </div>
  <div id="follow-nav-container" class="top-0 sticky z-[50]" data-turbo-permanent>
    <div class="<%= nav_class %>">
      <div class="<%= nav_list_class %>">
        <%= turbo_frame_tag :follow_nav, src: follow_nav_path(@user.username) %>
      </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto p-4">
    <%= turbo_frame_tag :users do %>
    <% end %>

    <div class="h-4">
      <%= turbo_frame_tag "load_more", src: following_path(username: @user.username, format: :turbo_stream), loading: :lazy %>
      <%= turbo_frame_tag "loading" do %>
        <%= render partial: "shared/loading" %>
      <% end %>
    </div>
  </div>
</div>
