<% set_meta_tags(
  title: I18n.t("pages.following", user: @user.name),
  og: {
    title: I18n.t("pages.following", user: @user.name),
  }
) %>

<div class="max-w-2xl mx-auto px-4 w-full">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username), loading: :lazy %>
  </div>
  <%= render partial: "shared/follow_nav", locals: { user: @user } %>
  <% if @followees.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("following.not_found") %></p>
  <% else %>
    <%= turbo_frame_tag :users do %>
    <% end %>

    <div class="h-4">
      <%= turbo_frame_tag "load_more", src: following_path(username: @user.username, format: :turbo_stream), loading: :lazy %>
      <%= turbo_frame_tag "loading" do %>
      <%= render partial: "posts/loading" %>
      <div class="hidden sm:block">
        <%= render partial: "posts/loading" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
