<%= turbo_frame_tag "header_menu" do %>
<div class="flex items-center z-[100]">
  <%= link_to search_path, class: "#{icon_button_class} mr-1", data: { turbo_frame: "_top" } do %>
    <%= image_tag "icons/search.svg", alt: "search", width: "20px", height: "20px", class: "icon" %>
  <% end %>
  <div data-controller="theme" class="mr-1 w-10 h-10">
    <button data-action="theme#toggle" data-theme-target="dark" class="hidden <%= icon_button_class %> ">
      <%= image_tag "icons/light.svg", width: "24px", height: "16px",class: "icon" %>
    </button>
    <button data-action="theme#toggle" data-theme-target="light" class="hidden <%= icon_button_class %> ">
      <%= image_tag "icons/dark.svg", width: "24px", height: "16px",class: "icon" %>
    </button>
  </div>
  <% if current_user %>
    <div class="overflow-visible relative z-[100] mr-2 " data-controller="notification">
      <button
        data-action="click->notification#toggle click->notification#read"
        class="relative <%= icon_button_class %>"
        data-turbo-frame="notifications"
      >
        <%= image_tag "icons/notification.svg", width: "24px", height: "16px",class: "icon " %>
        <div data-notification-target="indicator" class="hidden absolute top-2 right-2 w-2 h-2 rounded-full bg-red-500 text-white text-xs items-center justify-center"></div>
      </button>
      <div
        data-notification-target="dropdown"
        class="<%= dropdown_class %> max-h-96 overflow-scroll">
        <%= turbo_stream_from "notifications-for-#{current_user.id}" %>
        <%= turbo_frame_tag :notifications, src: notifications_path do %>
        <% end %>
      </div>
      <div data-action="click->notification#toggle" data-notification-target="backdrop" class="<%= backdrop_class %>"></div>
    </div>
  <% end %>
  <% if !current_user %>
    <%= link_to I18n.t("users.sign_in"), "/users/sign_in", class: "#{block_link_class} mr-2", data: { turbo_frame: "_top" } %>
    <%= link_to I18n.t("users.sign_up"), "/users/sign_up", class: primary_button_class, data: { turbo_frame: "_top" } %>
  <% end %>
  <div data-controller="menu" class="-mb-[4px] overflow-visible relative">
  <% if current_user %>
    <button data-action="click->menu#toggle">
      <%= image_tag current_user.avatar_icon, alt: current_user.username, class: "w-8 h-8 object-cover rounded-full" %>
    </button>
  <% else %>
    <button data-action="click->menu#toggle" class="<%= icon_button_class %> ml-1">
      <%= image_tag "icons/menu.svg", width: "24px", height: "16px",class: "icon" %>
    </button>
  <% end %>
  <div data-action="click->menu#toggle" data-menu-target="backdrop" class="<%= backdrop_class %>"></div>
  <div class="<%= dropdown_class %>"  data-menu-target="dropdown">
    <div class="text-sm h-full w-full p-4 dark:border-dark-border">
      <ul class="flex flex-col space-y-1">
        <li>
        <%= link_to I18n.t("pages.timeline"), root_path, class: "#{request.path === root_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
        </li>
        <% if current_user %>
        <li>
          <%= link_to I18n.t("pages.your_profile"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
        </li>
        <li>
          <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
        </li>
        <% end %>
        <li class="w-full dark:border-dark-border border-b pb-2"></li>
        <li class="w-full pb-2"></li>
        <li>
          <%= link_to I18n.t("pages.docs"), "https://about.timesy.dev/docs/intro", class: "#{block_link_class}" %>
        </li>
        <li>
          <%= link_to I18n.t("pages.about"), "https://about.timesy.dev", class: "#{block_link_class}" %>
        </li>
        <li>
          <%= link_to I18n.t("pages.blog"), "https://about.timesy.dev/blog", class: "#{block_link_class}" %>
        </li>
        <li>
          <%= link_to I18n.t("pages.terms"), terms_path, class: "#{request.path === terms_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
        </li>
        <li>
          <%= link_to I18n.t("pages.privacy"), privacy_path, class: "#{request.path === privacy_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
        </li>
        <li>
          <%= link_to "https://forms.gle/7FZz2iHzYLQYiom7A", class: " #{block_link_class}" do %>
            <span><%= I18n.t("pages.emoji_request") %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/moekidev/timesy", class: " #{block_link_class}" do %>
            <span><%= I18n.t("pages.github") %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "https://status.timesy.dev/", class: " #{block_link_class}" do %>
            <span><%= I18n.t("pages.status") %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.buymeacoffee.com/moekidev", class: " #{block_link_class}" do %>
            <span><%= I18n.t("pages.tip") %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>
