<%= turbo_stream.append "users_images" do %>
  <div data-controller="image-modal" data-ids="image-list">
    <% @posts.each do |post| %>
      <% post.images.each do |image| %>
        <p class="shadow  rounded-lg overflow-hidden mb-4 relative">
          <%= image_tag image, class: "w-full cursor-zoom-in" %>
          <%= link_to  post_path(post), class: "absolute bottom-3 right-3 rounded-full bg-white dark:bg-dark-card p-3 shadow hover:bg-background hover:dark:bg-dark-background" do %>
            <%= image_tag "icons/note.svg", class: "w-6 h-6 icon" %>
          <% end %>
        </p>
      <% end %>
      <% post.comments.where(user: @user).map(&:images).flatten.each do |comment_image| %>
        <p class="shadow  rounded-lg overflow-hidden mb-4 relative">
          <%= image_tag comment_image, class: "w-full cursor-zoom-in" %>
          <%= link_to  post_path(post), class: "absolute bottom-3 right-3 rounded-full bg-white dark:bg-dark-card p-3 shadow hover:bg-background hover:dark:bg-dark-background" do %>
            <%= image_tag "icons/note.svg", class: "w-6 h-6 icon" %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @next_page.present? && !params[:limit].present? %>
  <%= turbo_stream.replace "load_more" do %>
    <%= turbo_frame_tag "load_more", src: images_path(username: @user.username, page: @next_page, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "loading" do %>
  <% end %>
  <%= turbo_stream.replace "load_more" do %>
  <% end %>
<% end %>
