<%= turbo_frame_tag "right_sidebar" do %>
  <% if current_user %>
    <div class="<%= card_class %> mt-4">
      <h3 class="font-bold mb-4 "><%= I18n.t("pages.your_projects") %></h3>
      <a class="flex space-x-2 <%= card_class %> dark:hover:border-gray-700" href="<%= new_project_path %>" data-turbo-frame="timeline">
        <%= image_tag "icons/add.svg", class: "icon w-6 h-6" %>
        <div class="font-bold"><%= I18n.t("projects.start") %></div>
      </a>
      <%= turbo_frame_tag "projects", target: "_top" %>

      <%= turbo_frame_tag "projects_load_more", src: projects_path(current_user.username, format: :turbo_stream, limit: 3), loading: :lazy  %>

      <%= turbo_frame_tag "projects_loading" do %>
        <%= render partial: "posts/loading" %>
      <% end %>

      <% if current_user.projects.count > 3 %>
        <div class="flex justify-center mt-4">
          <%= link_to I18n.t("pages.view_all"), projects_path(current_user.username), class: "text-sm text-gray-500 hover:underline" %>
        </div>
      <% end %>
    </div>
    <div class="<%= card_class %> mt-4">
      <h3 class="font-bold mb-4 "><%= I18n.t("pages.pinned") %></h3>
      <%= turbo_frame_tag "pinned", target: "_top" %>

      <%= turbo_frame_tag "pinned_load_more", src: pinned_path(format: :turbo_stream, limit: 3), loading: :lazy  %>

      <%= turbo_frame_tag "pinned_loading" do %>
        <%= render partial: "posts/loading" %>
      <% end %>

      <% if current_user.pins.count > 3 %>
        <div class="flex justify-center mt-4">
          <%= link_to I18n.t("pages.view_all"), pinned_path, class: "text-sm text-gray-500 hover:underline" %>
        </div>
      <% end %>
    </div>
    <div class="<%= card_class %> mt-4">
      <h3 class="font-bold mb-4 "><%= I18n.t("pages.your_posts") %></h3>
      <%= turbo_frame_tag "users_posts", target: "_top" %>

      <%= turbo_frame_tag "users_load_more", src: user_path(current_user.username, format: :turbo_stream, limit: 3), loading: :lazy  %>

      <%= turbo_frame_tag "users_loading" do %>
        <%= render partial: "posts/loading" %>
      <% end %>

      <% if current_user.posts.count > 3 %>
        <div class="flex justify-center mt-4">
          <%= link_to I18n.t("pages.view_all"), user_path(current_user.username), class: "text-sm text-gray-500 hover:underline" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
