<% set_meta_tags(
  title: @user.name,
  og: {
    title: @user.name,
  }
) %>


<div class="flex w-full grow">
<div class="grow h-[calc(100vh-55px)] overflow-scroll">
  <%= render partial: "shared/profile", locals: { user: @user } %>
  <%= render partial: 'shared/user_nav', locals: { user: @user } %>
  <% if @posts.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("posts.not_found") %></p>
  <% else %>
    <%= turbo_frame_tag :posts do %>
    <% end %>

    <div class="h-4">
      <%= turbo_frame_tag "load_more", src: user_path(username: @user.username, format: :turbo_stream), loading: :lazy %>
      <%= turbo_frame_tag "loading" do %>
      <%= render partial: "posts/loading" %>
      <div class="hidden sm:block">
        <%= render partial: "posts/loading" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<div class="grow hidden border-l h-[calc(100vh-55px)] overflow-scroll <%= card_class %>" id="sidebar">
  <div class="flex <%= card_class %> -mt-4">
    <div class="grow"></div>
    <button class="<%= icon_button_class %>" id="sidebar-close">
      <%= image_tag "icons/close.svg", alt: "close", width: "14px", height: "14px",   class: "icon"%>
    </button>
  </div>
  <%= turbo_frame_tag "settings" %>
  <%= turbo_frame_tag "thread" %>
</div>
</div>
