<% set_meta_tags(
  title: @user.name,
  og: {
    title: @user.name,
  }
) %>


<div class="grow max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)]">
  <%= render partial: "shared/profile", locals: { user: @user } %>
  <%= render partial: 'shared/user_nav', locals: { user: @user } %>
  <% if @posts.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("posts.not_found") %></p>
  <% else %>
    <%= turbo_frame_tag :posts do %>
      <%= render partial: 'posts/item', collection: @posts, cached: true %>
    <% end %>

    <%= turbo_frame_tag "load_more", src: user_path(username: @user.username, format: :turbo_stream, page: 1), loading: :lazy %>
  <% end %>
</div>
