<%= turbo_frame_tag "timeline_nav_for_current_user" do %>
<nav data-controller="nav">
  <div class="<%= nav_list_class %>">
    <a
      href="<%= root_path %>"
      class="<%= nav_item_class(root_path) %> mr-5"
      data-turbo-frame="_top"
      data-nav-target="item"
      data-current="/"
    >
      <%= I18n.t("pages.home") %>
    </a>
    <% if current_user %>
      <a
        href="<%= latest_path %>"
        class="<%= nav_item_class(latest_path) %> mr-5 -pb-[3px]"
        data-turbo-frame="_top"
        data-nav-target="item"
        data-current="/latest"
      >
          <%= I18n.t("pages.latest") %>
      </a>
    <% end %>
    <a
      href="<%= trending_path %>"
      class="<%= nav_item_class(trending_path) %> mr-5"
      data-turbo-frame="_top"
      data-nav-target="item"
      data-current="/trending"
    >
        <%= I18n.t("pages.trending") %>
    </a>
    <% if current_user %>
    <a
      href="<%= pinned_path %>"
      class="<%= nav_item_class(pinned_path) %> mr-5"
      data-turbo-frame="_top"
      data-nav-target="item"
      data-current="/pinned"
    >
        <%= I18n.t("pages.pinned") %>
    </a>
    <% end %>
  </div>
</nav>
<% end %>
