<nav class="<%= nav_class %>">
  <a
    href="<%= following_path(user.username) %>"
    class="<%= nav_item_class(following_path(user.username), "w-1/2") %>"
  >
    <%= I18n.t("users.following") %>
  </a>
  <a
    href="<%= followers_path(user.username) %>"
    class="<%= nav_item_class(followers_path(user.username), "w-1/2") %>"
  >
      <%= I18n.t("users.followers", user: user.name) %>
  </a>
</nav>
