<nav class="<%= nav_class %> mb-4 top-0">
  <div class="<%= nav_list_class %>">
  <div class="flex max-w-2xl mx-auto w-full items-center space-x-3">
    <a
      href="<%= following_path(user.username) %>"
      class="<%= nav_item_class(following_path(user.username)) %>"
      data-turbo-frame="timeline"
    >
      <%= I18n.t("users.following") %>
    </a>
    <a
      href="<%= followers_path(user.username) %>"
      class="<%= nav_item_class(followers_path(user.username)) %>"
      data-turbo-frame="timeline"
    >
        <%= I18n.t("users.followers", user: user.name) %>
    </a>
  </div>
</nav>
