<header class="w-full bg-white shadow-sm rounded-t-lg">
  <div class="flex px-5 items-center py-3 text-sm max-w-5xl mx-auto">
    <%= link_to "/", class: "block mr-3" do %>
      <img src="<%= "/logo.png" %>" alt="logo" width="70px" height="20px" />
    <% end %>
    <div class="grow"></div>
    <% if current_user %>
      <%= link_to user_path(username: current_user.username) do %>
        <%= image_tag current_user.avatar_icon, alt: current_user.username, class: "w-8 h-8 object-cover rounded-full" %>
      <% end %>
    <% else %>
      <%= link_to I18n.t("users.sign_in"), "/users/sign_in", class: "mr-2 rounded hover:bg-gray-50 py-1 px-2" %>
      <%= link_to I18n.t("users.sign_up"), "/users/sign_up", class: primary_button_class %>
    <% end %>
  <div>
</header>
