<div class="link-card  dark:hover:bg-gray-800 cursor-pointer hover:bg-gray-100 max-w-[384px] overflow-hidden w-full rounded-lg" onclick="window.open('<%= ogp.url %>')">
  <img src="<%= ogp.image %>" class="object-cover" alt="">
  <div class="grow p-4">
    <div class="opacity-50"><%= ogp.host %></div>
    <div class="text-sm"><%= ogp.truncated_title %></div>
    <div class="text-xs text-gray-500"><%= ogp.truncated_description %></div>
  </div>
</div>
