<%= turbo_frame_tag :reactions, class: "flex items-center flex-wrap" do %>
  <%= turbo_frame_tag :post_reactions_list, src: post_reactions_list_path(post), class: "flex items-center flex-wrap" %>
  <%= form_with(
    model: reaction,
    url: create_post_reaction_path(post_id: post.id),
    class: "flex my-1 items-center",
    data: { controller: "emoji-picker" }
  ) do |f| %>
    <%= f.hidden_field :body, data: { emoji_picker_target: "input" } %>
    <button
      type="button"
      data-emoji-picker-target="button"
      data-action="click->emoji-picker#open"
      class="flex items-center rounded-full p-[6px] hover:bg-gray-100 bg-gray-50 dark:bg-slate-700 dark:hover:bg-slate-600 transition-all mr-3"
    >
      <%= image_tag "icons/add-reaction.svg", alt: "add-reaction", width:"16px", height: "16px", class: "icon " %>
    </button>
  <% end %>
<% end %>
