<nav class="<%= nav_class %> bg-opacity-70 dark:bg-opacity-70 backdrop-filter backdrop-blur-lg dark:backdrop-blur-lg dark:backdrop-filter relative mt-4 rounded-lg mb-4">
  <div class="<%= nav_list_class %> rounded-lg">
    <a
      href="<%= root_path %>"
      class="<%= nav_item_class(root_path) %> "
      data-turbo-frame="timeline"
    >
      <%= I18n.t("pages.follow") %>
    </a>
    <a
      href="<%= latest_path %>"
      class="<%= nav_item_class(latest_path) %> "
      data-turbo-frame="timeline"
    >
        <%= I18n.t("pages.latest") %>
    </a>
    <a
      href="<%= pinned_path %>"
      class="<%= nav_item_class(pinned_path) %> "
      data-turbo-frame="timeline"
    >
        <%= I18n.t("pages.pinned") %>
    </a>
  </div>
</nav>
