<div class="px-4 top-[1rem] sticky z-[50]">
<nav class="<%= nav_class %> bg-opacity-70 dark:bg-opacity-70 backdrop-filter backdrop-blur-lg dark:backdrop-blur-lg dark:backdrop-filter relative mt-4 rounded-lg mb-4 top-[1rem] max-w-2xl mx-auto">
  <div class="<%= nav_list_class %> rounded-lg">
    <a
      href="<%= root_path %>"
      class="<%= nav_item_class(root_path) %> mr-5"
      data-turbo-frame="timeline"
    >
      <%= I18n.t("pages.home") %>
    </a>
    <a
      href="<%= trending_path %>"
      class="<%= nav_item_class(trending_path) %> mr-5"
      data-turbo-frame="timeline"
    >
        <%= I18n.t("pages.trending") %>
    </a>
    <%= turbo_frame_tag "timeline_nav_for_current_user", src: users_timeline_nav_path(current: request.path), loading: :lazy %>
  </div>
</nav>
</div>
