<nav class="w-full mb-4 flex text-sm items-center border-b">
  <a href="<%= user_path(user.username) %>" class="hover:bg-gray-100 py-2 w-1/2 text-center <%= request.path == user_path(user.username) ? "font-bold border-b-2 border-sky-500" : "" %>"><%= I18n.t("pages.posts") %></a>
  <a href="<%= user_comments_path(user.username) %>" class="hover:bg-gray-100 py-2 w-1/2 text-center <%= request.path == user_comments_path(user.username) ? "font-bold border-b-2 border-sky-500" : "" %>"><%= I18n.t("users.comments", user: user.name) %></a>
  <a href="<%= projects_path(user.username) %>"  class="py-2 hover:bg-gray-100 w-1/2 text-center <%= request.path == projects_path(user.username) ? "font-bold border-b-2 border-sky-500" : "" %>"><%= I18n.t("users.projects", user: user.name) %></a>
</nav>
