<% if current_user %>
<div class="flex w-full space-x-2">
  <div class="transition-all w-[16px]">
    <%= link_to user_path(username: current_user.username), class: "w-4 flex items-center space-x-1 hover:underline" do %>
      <%= image_tag current_user.avatar_icon, alt: "", class: "w-4 h-4 object-cover rounded-full" %>
    <% end %>
  </div>
  <div class="w-[calc(100%-23px)]">
  <%= form_with(
    model: cheer,
    url: "/posts/#{post.id}/cheers",
    data: {
      turbo_frame: "cheers",
      controller: "turbo-form markdown",
      action: "turbo:submit-end->turbo-form#clear",
      markdown_min_height_value: "100px",
      markdown_placeholder_value: I18n.t("cheers.placeholder"),
      markdown_model_value: "cheer",
      markdown_image_uploading_text_value: I18n.t("images.uploading"),
      markdown_image_upload_failed_text_value: I18n.t("images.upload_failed")
    },
    class: "grow"
  ) do |f| %>
    <div>
      <div data-markdown-target="editorContainer">
        <%= f.text_area(
          :body,
          data: { markdown_target: "editor" },
          class: "w-full resize-none min-h-[94px]"
        ) %>
      </div>
      <div class="markdown-body hidden min-h-[100px]" data-markdown-target="preview"></div>
    </div>
    <div class="flex items-center">
      <div class="grow"></div>
      <div class="px-1">
        <button
          type="button"
          class="<%= icon_button_class %>"
          data-controller="tooltip"
          data-tooltip-text-value="<%= I18n.t('posts.image') %>"
          data-action="markdown#attachImage"
          data-testid="attach-image"
        >
          <div class="i-lucide-image"></div>
        </button>
      </div>
      <div class="px-1">
        <button type="button" class="<%= icon_button_class %>" data-action="markdown#preview" data-markdown-target="previewButton" >
          <div class="i-lucide-eye"></div>
        </button>
        <button type="button" class="<%= icon_button_class %> hidden" data-action="markdown#edit" data-markdown-target="editorButton" >
          <div class="i-lucide-pen"></div>
        </button>
      </div>
      <div class="ml-2">
        <%= f.submit I18n.t("cheers.submit"), disabled: true, class: primary_button_class, data: { action: "thread-scroll#scroll" } %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% end %>
