<% set_meta_tags(
  title: I18n.t("pages.about"),
  og: {
    title: I18n.t("pages.about"),
  }
) %>

<div class="max-w-3xl mx-auto p-0 sm:p-4">
  <div class="py-10 dark:border-dark-border ">
    <h1 class="text-center font-bold text-6xl">
      Hack Luck.
    </h1>
  </div>
  <main class="text-gray-800 leading-7">
    <div class="<%= card_class %> dark:border-dark-border">
      <h3 class="mb-3 w-full flex items-center font-bold">
        <span><%= I18n.t("about.tweet.title") %></span>
      </h3>
      <p><%= I18n.t("about.tweet.body") %></p>
    </div>
    <div class="<%= card_class %> dark:border-dark-border">
      <h3 class="mb-3 w-full flex items-center font-bold">
        <span><%= I18n.t("about.reaction.title") %></span>
      </h3>
      <p><%= I18n.t("about.reaction.body") %></p>
    </div>
    <div class="<%= card_class %> dark:border-dark-border">
      <h3 class="mb-3 w-full flex items-center font-bold">
        <span><%= I18n.t("about.contribution.title") %></span>
      </h3>
      <p><%= I18n.t("about.contribution.body") %></p>
    </div>
  </main>
</div>
