<%= form_with(
  model: project,
  url: path,
  method: method,
  multipart: true,
  class: "bg-background dark:bg-dark-background p-4 rounded-lg",
  data: {
    action: "turbo:submit-end->markdown#clear",
    turbo_frame: :posts,
    turbo: false,
    controller: "turbo-form markdown",
    post_editor_confirm_message: I18n.t("page.confirm_leave"),
    markdown_min_height_value: "100px",
    markdown_placeholder_value: I18n.t("posts.placeholder"),
  },
) do |f| %>
  <%= render partial: "shared/error_messages", locals: { errors: project.errors.full_messages } %>
  <%= render partial: "shared/notice_messages", locals: { notice: notice } %>
  <div data-controller="file-field">
    <%= image_tag project.icon_url, alt: project.codename, width: "100px", height: "100px", class: "w-20 h-20 object-cover rounded preview" %>
    <button type="button" class="<%= block_link_class %> my-4 text-sm" data-action="file-field#click" ><%= I18n.t("form.button.change_file") %></button>
    <%= f.file_field :icon, data: { file_field_target: "field" }, accept: "image/png, image/jpeg", class: "hidden" %>
  </div>
  <%= f.label :title, class: label_class %>
  <%= f.text_field :title, class: text_field_class + " mb-5", placeholder: I18n.t("projects.placeholder.title") %>
  <div class="flex items-center">
    <%= f.label :codename, class: label_class %>
    <span class="ml-2 mb-2 text-xs text-gray-500"><%= I18n.t("projects.notice.codename") %></span>
  </div>
  <%= f.text_field :codename, class: text_field_class + " mb-5", placeholder: I18n.t("projects.placeholder.codename") %>
  <%= f.label :link, class: label_class %>
  <%= f.text_field :link, class: text_field_class + " mb-5", placeholder: "https://" %>
  <%= f.label :body, class: label_class %>
  <div class="<%= text_field_class %> hover:bg-white bg-white mb-5">
    <div>
      <div data-markdown-target="editorContainer">
        <%= f.text_area(
          :body,
          data: { markdown_target: "editor" },
          class: "w-full resize-none min-h-[94px]"
        ) %>
      </div>
      <div class="markdown-body hidden min-h-[100px]" data-markdown-target="preview"></div>
    </div>
    <div class="flex items-center">
      <div class="grow"></div>
      <div class="px-1">
        <button type="button" class="<%= icon_button_class %> transition-all" title="<%=  I18n.t('posts.preview') %>" data-action="markdown#preview" data-markdown-target="previewButton">
          <%= image_tag "icons/preview.svg", alt: "preview", width: "24px", height: "16px",class: "icon" %>
        </button>
        <button type="button" class="<%= icon_button_class %> transition-all hidden" title="<%=  I18n.t('posts.edit') %>" data-action="markdown#edit" data-markdown-target="editorButton">
          <%= image_tag "icons/edit.svg", alt: "edit", width: "24px", height: "16px",class: "icon" %>
        </button>
      </div>
    </div>
  </div>
  <div class="flex">
    <%= f.submit submit_label, class: primary_button_class %>
  </div>
<% end %>
