<% set_meta_tags(
  title: "#{@user.name}'s Projects",
) %>

<div class="grow max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)]">
  <%= render partial: 'shared/profile', locals: { user: @user } %>
  <div>
    <a class="flex space-x-2 hover:shadow mb-4 rounded-lg bg-white shadow-sm p-4" href="<%= new_project_path %>">
      <%= image_tag "icons/add.svg", class: "w-6 h-6" %>
      <div class="font-bold"><%= I18n.t("projects.start") %></div>
    </a>
    <%= render partial: 'projects/item', collection: @projects, as: :project %>
  </div>
</div>
