<% set_meta_tags(
  title: I18n.t("pages.projects", user: @user.name),
  og: {
    title: I18n.t("pages.projects", user: @user.name),
  }
) %>

<div class="flex w-full grow">
<div class="grow h-[calc(100vh-55px)] overflow-scroll" id="main">
  <%= render partial: 'shared/profile', locals: { user: @user } %>
  <%= render partial: 'shared/user_nav', locals: { user: @user } %>
  <div>
    <% if current_user == @user %>
      <a class="flex space-x-2 <%= card_class %> dark:hover:border-gray-700" href="<%= new_project_path %>">
        <%= image_tag "icons/add.svg", class: "icon w-6 h-6" %>
        <div class="font-bold"><%= I18n.t("projects.start") %></div>
      </a>
    <% end %>
    <%= render partial: 'projects/item', collection: @projects, as: :project %>
  </div>
</div>
<div class="grow w-1/2 hidden border-l h-[calc(100vh-55px)] overflow-scroll <%= card_class %>" id="sidebar-container">
  <%= turbo_frame_tag "sidebar" %>
</div>
</div>
