<% set_meta_tags(
  title: I18n.t("pages.projects", user: @user.name),
  og: {
    title: I18n.t("pages.projects", user: @user.name),
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="w-full mx-auto max-w-3xl p-4">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= render partial: "users/profile", locals: { user: @user } %>
  </div>
  <div id="user-nav-container" class="z-[50]" data-turbo-permanent>
    <div class="<%= nav_class %>">
      <div class="<%= nav_list_class %>">
        <%= render partial: "users/user_nav", locals: { user: @user } %>
      </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto">
    <%= turbo_frame_tag "project_list", src: projects_list_path(@user.username), loading: :lazy %>
  </div>
</div>
<% end %>
