<% set_meta_tags(
  title: I18n.t("pages.projects", user: @user.name),
  og: {
    title: I18n.t("pages.projects", user: @user.name),
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="w-full mx-auto max-w-3xl mt-4">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username) %>
  </div>
  <div id="user-nav-container" class="top-0 sticky z-[50]" data-turbo-permanent>
    <div class="<%= nav_class %>">
      <div class="<%= nav_list_class %>">
        <%= turbo_frame_tag :user_nav, src: user_nav_path(@user.username) %>
      </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto">
    <%= turbo_frame_tag "project_list", src: projects_list_path(@user.username), loading: :lazy %>
  </div>
</div>
<% end %>
