<% set_meta_tags(
  title: I18n.t("pages.projects", user: @user.name),
  og: {
    title: I18n.t("pages.projects", user: @user.name),
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="max-w-3xl mx-auto w-full mt-4 px-4">
  <div id="profile-<%= @user.id %>" data-turbo-permanent>
    <%= turbo_frame_tag "profile", src: profile_path(@user.username) %>
  </div>
  <div id="user-nav-container" class="top-[1rem] sticky z-[50]" data-turbo-permanent>
    <div class="<%= nav_class %>">
      <%= turbo_frame_tag :user_nav, src: user_nav_path(@user.username) %>
    </div>
  </div>
  <%= turbo_frame_tag "project_list", src: projects_list_path(@user.username), loading: :lazy %>
</div>
<% end %>
