<%= turbo_frame_tag "project_list" do %>
  <div>
    <% if current_user == @user %>
      <a class="flex space-x-2 <%= card_class %> dark:hover:border-gray-700" href="<%= new_project_path %>" data-turbo-frame="_top">
        <%= image_tag "icons/add.svg", class: "icon w-6 h-6" %>
        <div class="font-bold"><%= I18n.t("projects.start") %></div>
      </a>
    <% end %>
    <div data-testid="project-list">
      <%= render partial: 'projects/item', collection: @projects, as: :project %>
    </div>
  </div>
<% end %>
