<% set_meta_tags(
  title: @project.title,
  og: {
    title: @project.title,
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="w-full px-4 max-w-3xl mx-auto">
  <div class="mb-4 w-full">
    <div class="flex py-4 space-x-4 w-full mb-4 bg-background dark:bg-dark-background mt-4 px-4">
      <%= image_tag @project.icon_url, class: "w-20 h-20 rounded" %>
      <div class="grow">
        <div class="flex w-full items-start mb-1">
          <h1 class="grow font-bold text-xl"><%= @project.title %></h1>
          <% if @project.user == current_user %>
            <div class="ml-2 w-24">
              <%= link_to edit_project_path(current_user.username, @project.codename), class: "#{block_link_class} text-sm inline-flex", data: { turbo_frame: "_top" }  do %>
                <%= image_tag "icons/edit.svg", class: "icon w-4 h-4 mr-1 mt-[2px]" %>
                <%= I18n.t("form.submit.edit") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <a href="<%= user_path(@project.user.username) %>" class="mb-1  items-center text-sm flex space-x-2 hover:underline">
          <p><%= @project.user.name %></p>
          <p class="text-gray-500">@<%= @project.user.username %></p>
        </a>
        <% if @project.link.present? %>
          <%= link_to @project.link, class: "text-blue-400 items-center text-sm inline-flex hover:underline", target: "_blank" do %>
            <%= image_tag "icons/link.svg", class: "icon w-4 h-4 mr-1 -mb-[2px] -rotate-45" %>
            <%= @project.link.sub("https://", "").sub("http://", "").truncate(32) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="text-left w-full <%= card_class %> py-8">
      <div class="markdown-body" data-controller="image-modal">
        <%= @project.html.html_safe %>
      </div>
    </div>
  </div>
  <div>
    <% if @posts.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("posts.not_found") %></p>
    <% else %>
    <div class="hidden sm:block">
        <%= turbo_stream_from "posts" %>
      </div>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <div class="h-1">
        <%= turbo_frame_tag "load_more", src: project_path(@user.username, @project.codename, format: :turbo_stream), loading: :lazy  %>
        <%= turbo_frame_tag "loading" do %>
          <%= render partial: "posts/loading" %>
          <div class="hidden sm:block">
            <%= render partial: "posts/loading" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
