<% set_meta_tags(
  title: @project.title,
  og: {
    title: @project.title,
  }
) %>

<div class="grow max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)]">
  <div class="mb-4 w-full">
    <div class="flex space-x-4 w-full mb-4">
      <%= image_tag @project.icon_url, class: "w-20 h-20 rounded" %>
      <div class="grow">
        <div class="flex w-full items-start">
          <h1 class="grow font-bold text-xl"><%= @project.title %></h1>
          <% if @project.user == current_user %>
            <%= link_to edit_project_path(current_user.username, @project.codename), class: "ml-2 hover:bg-gray-100 rounded-full p-2 text-sm inline-flex items-center w-28" do %>
              <%= image_tag "icons/edit.svg", class: "w-4 h-4 mr-1" %>
              <%= I18n.t("form.submit.edit") %>
            <% end %>
          <% end %>
        </div>
        <a href="<%= user_path(@project.user.username) %>" class="items-center text-sm flex space-x-2 hover:underline">
          <p><%= @project.user.name %></p>
          <p class="text-gray-500">@<%= @project.user.username %></p>
        </a>
        <% if @project.link.present? %>
          <%= link_to @project.link, class: "items-center text-sm inline-flex hover:underline", target: "_blank" do %>
            <%= image_tag "icons/link.svg", class: "w-4 h-4 mr-1 -mb-[2px] -rotate-45" %>
            <%= @project.link.sub("https://", "").sub("http://", "").truncate(32) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="bg-white text-left w-full rounded-lg shadow-sm px-4 py-8">
      <div class="markdown-body">
        <%= @project.html.html_safe %>
      </div>
    </div>
  </div>
  <div>
    <% if @posts.empty? %>
    <p class="w-full text-center py-20 font-bold"><%= I18n.t("posts.not_found") %></p>
    <% else %>
    <%= turbo_frame_tag "loading" do %>
    <%= render partial: "posts/loading" %>
    <div class="hidden sm:block">
      <%= render partial: "posts/loading" %>
    </div>
    <% end %>

    <%= turbo_frame_tag :posts do %>
    <% end %>

    <%= turbo_frame_tag "load_more", src: project_path(@user.username, @project.codename, format: :turbo_stream), loading: :lazy %>
    <% end %>
  </div>
</div>
