<%= form_with(
  model: post,
  url: create_post_path,
  data: {
    action: "turbo:submit-end->markdown#clear",
    turbo_frame: :posts,
    controller: "turbo-form markdown",
    post_editor_confirm_message: I18n.t("page.confirm_leave"),
    markdown_min_height_value: "100px",
    markdown_placeholder_value: I18n.t("posts.placeholder"),
    markdown_model_value: "post",
  },
  class: "grow transition-all"
) do |f| %>
  <div>
    <%= flash[:error] %>
    <input type="hidden" name="page" value="<%= page %>" />
    <input type="hidden" name="current_path" value="<%= page %>" />
    <%= f.file_field :images, multiple: true, direct_upload: true, class: "hidden" %>
    <div>
      <div class="">
        <div data-markdown-target="editorContainer">
          <%= f.text_area(
            :body,
            data: { markdown_target: "editor" },
            class: "prose min-h-[94px] resize-none"
          ) %>
        </div>
        <div
          class="markdown-body hidden min-h-[100px]"
          data-markdown-target="preview"
        ></div>
      </div>
    </div>
  </div>
  <div class="flex pt-3 w-full items-center bg-white dark:bg-dark-card text-gray-50">
    <div class="grow"></div>
    <div class="px-1">
     <button
        type="button"
        class="<%= icon_button_class %>"
        title="<%=  I18n.t('posts.preview') %>(⌘+Shift+P)"
        data-controller="tooltip"
        data-tooltip-text-value="<%= I18n.t('posts.image') %>"
        data-action="markdown#attachImage"
        data-testid="attach-image"
      >
        <div class="i-lucide-image"></div>
      </button>
    </div>
    <div class="px-1">
      <button
        type="button"
        class="<%= icon_button_class %> opacity-30 transition-all"
        title="<%=  I18n.t('posts.preview') %>(⌘+Shift+P)"
        data-controller="tooltip"
        data-tooltip-text-value="<%=  I18n.t('posts.preview') %>(⌘+Shift+P)"
        data-action="markdown#preview"
        data-markdown-target="previewButton"
        data-testid="preview-post"
      >
        <div class="i-lucide-eye"></div>
      </button>
      <button
        type="button"
        class="<%= icon_button_class %> transition-all hidden"
        title="<%=  I18n.t('posts.edit') %>"
        data-action="markdown#edit"
        data-markdown-target="editorButton"
      >
        <div class="i-lucide-pen"></div>
      </button>
    </div>
    <div class="ml-2">
      <%= f.submit I18n.t('posts.publish'), disabled: true, class: primary_button_class, data: { post_editor_target: "publish", testid: "publish-post" } %>
    </div>
  </div>
<% end %>
