<div id="<%= item.id %>" class="border-b relative bg-white p-5 hover:bg-gray-50 group cursor-pointer" onclick="location.href='<%= post_path(item) %>'">
  <div class="mb-3 flex items-center space-x-1">
    <div class="flex hover:underline items-center space-x-1 relative">
      <%= render partial: 'shared/avatar', locals: { user: item.user } %>
    </div>
    <time class="text-gray-400 text-sm"><%= time_ago_in_words(item.created_at) %></time>
  </div>
  <div class="markdown-body group-hover:bg-gray-50" style="<%= item.emoji_only? ? "font-size: 32px;" : "" %>">
    <%= item.html(400).html_safe %>
  </div>
  <% if item.comments.present? %>
  <div class="flex mt-5 items-center w-full overflow-hidden">
    <%= image_tag "icons/comment.svg", width:"16px", height: "16px", class: "mr-1" %>
    <p class="text-gray-600 text-sm mr-3"><%= item.comments.count %>件のコメント</p>
    <% item.comments.order(created_at: :desc).limit(2).each do |comment| %>
      <%= image_tag comment.user.avatar_icon, width:"20px", height: "20px", class: "w-5 h-5 rounded-full block" %>
      <div class="rounded border px-2 mx-2 text-sm">
        <%= strip_tags(comment.html).truncate(20) %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
