<%= turbo_frame_tag "post_#{post.id}" do %>
<div class="<%= "#{card_class} overflow-visible flex border-b dark:border-dark-border transition-all animate-fade-in w-full post-card" %>" data-controller="post-show" data-testid="<%= post.body %>" >
  <div class="w-[42px]">
    <%= link_to user_path(username: post.user.username), class: "cursor-pointer text-sm block flex items-center hover:underline flex-wrap", data: { turbo_frame: "_top" } do %>
      <%= image_tag post.user.avatar_icon, alt: "", width: "20px", height: "20px", class: "w-8 h-8 rounded-full mr-2 block" %>
    <% end %>
  </div>
  <div class="w-[calc(100%-42px)] overflow-visible z-[100]">
    <div class="mb-4 z-[100]">
      <div class="flex flex-row mb-3 items-center space-x-1 z-[100]">
        <div class="flex w-[calc(100%-42px)] items-center space-x-1 whitespace-nowrap overflow-hidden overflow-ellipsis">
          <%= link_to user_path(username: post.user.username), class: "cursor-pointer text-sm block flex gap-1 items-center hover:underline", data: { turbo_frame: "_top" } do %>
            <span class="font-bold"><%= post.user.name %></span>
            <span class="text-gray-400"><%= post.user.username_with_at %></span>
          <% end %>
          <time class="text-gray-400 text-sm"><%= time_ago_in_words(post.created_at) %></time>
        </div>
        <div class="flex items-center w-[42px] space-x-1 overflow-visible z-[100]">
          <div class="grow"></div>
          <div data-controller="menu" data-post-show-target="menu" class=" overflow-visible relative">
            <button class="<%= icon_button_class %>" data-action="menu#open" >
              <div class="i-lucide-more-horizontal"></div>
            </button>
            <div data-action="click->menu#close" data-menu-target="backdrop" class="<%= backdrop_class %>"></div>
            <div class="overflow-scroll absolute top-0 right-[48px] z-[100] hidden w-48 bg-white dark:bg-dark-card shadow-sm rounded border dark:border-dark-border scrollbar-none transition-all animate-down p-2" data-menu-target="dropdown">
              <button class="<%= block_link_class %> w-full"  data-controller="copy" data-copy-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-copy-content-value="<%= post.body %>" data-action="menu#close">
                <div class="i-lucide-copy"></div>
                <%= I18n.t("posts.copy-markdown") %>
              </button>
              <button class="<%= block_link_class %> w-full"  data-controller="copy" data-copy-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-copy-content-value="<%= post_url(post) %>" data-action="menu#close">
                <div class="i-lucide-link"></div>
                <%= I18n.t("posts.copy-link") %>
              </button>
              <% if current_user %>
                <%= turbo_frame_tag :pin_button do %>
                  <%= render partial: "shared/pin_button", locals: { post: post } %>
                <% end %>
              <% end %>
              <% if current_user == post.user %>
                <button class="<%= block_link_class %> w-full" data-action="menu#close" data-post-show-target="editButton" >
                  <div class="i-lucide-pen"></div>
                  <%= I18n.t("posts.edit") %>
                </button>
                <div class="mt-[1px]">
                  <%= button_to(
                    delete_post_url(id: post.id),
                    method: :delete,
                    class: "#{block_link_class} w-full text-red-400 dark:text-red-400",
                    onClick: "return confirm('#{I18n.t('posts.confirm_delete')}')",
                    data: { turbo: false, post_show_target: "deleteButton", action: "menu#close" },
                  ) do %>
                    <div class="i-lucide-trash"></div>
                    <%= I18n.t("posts.delete") %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <button class="hidden <%= icon_button_class %>" data-action="post-show#close" data-post-show-target="closeButton">
            <div class="i-lucide-x"></div>
          </button>
        </div>
      </div>
      <div data-post-show-target="show" data-controller="image-modal twitter" class="markdown-body">
        <%= turbo_frame_tag :post do %>
          <%= post.html.html_safe %>
        <% end %>
      </div>
    <%= turbo_frame_tag "post_editor-#{post.id}" do %>
      <% if current_user == post.user %>
      <div class="hidden" data-post-show-target="editor">
        <%= form_with(
          model: post,
          url: update_post_path(id: post.id),
          id: "post-form",
          data: {
            action: "turbo:submit-end->post-show#close",
            turbo_frame: :post,
            controller: "turbo-form markdown",
            post_editor_confirm_message: I18n.t("page.confirm_leave"),
            markdown_min_height_value: "100px",
            markdown_model_value: "post",
            markdown_placeholder_value: I18n.t("posts.placeholder"),
            markdown_image_uploading_text_value: I18n.t("images.uploading"),
            markdown_image_upload_failed_text_value: I18n.t("images.upload_failed")
          },
          class: "grow transition-all"
        ) do |f| %>
          <div>
            <%= flash[:error] %>
            <div class="max-w-3xl mx-auto">
              <div class="">
                <div data-markdown-target="editorContainer">
                  <%= f.text_area :body, data: { markdown_target: "editor", post_editor_target: "body" }, class: "prose resize-none min-h-[114px]" %>
                </div>
                <div class="markdown-body hidden min-h-[120px]" data-markdown-target="preview"></div>
              </div>
            </div>
          </div>
          <div class="flex pt-3 w-full items-center bg-none">
            <div class="grow"></div>
            <div class="px-1">
              <button
                type="button"
                class="<%= icon_button_class %>"
                data-controller="tooltip"
                data-tooltip-text-value="<%= I18n.t('posts.image') %>"
                data-action="markdown#attachImage"
                data-testid="attach-image"
              >
                <div class="i-lucide-image"></div>
              </button>
            </div>
            <div class="px-1">
              <button type="button" class="<%= icon_button_class %>" data-action="markdown#preview" data-markdown-target="previewButton" >
                <div class="i-lucide-eye"></div>
              </button>
              <button type="button" class="<%= icon_button_class %> hidden" data-action="markdown#edit" data-markdown-target="editorButton" >
                <div class="i-lucide-pen"></div>
              </button>
            </div>
            <div class="ml-2">
              <%= f.submit I18n.t('posts.update'), disabled: true, class: primary_button_class, data: { post_editor_target: "publish" } %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>

    </div>
    <% if post.comments.count > 0 %>
      <div class="text-xs flex items-center">
        <%= image_tag post.comments.latest&.first&.user.avatar_icon, class: "w-4 h-4 rounded-full mr-1" %>
        <p class="opacity-70"><%= post.comments.latest&.first&.truncated(32) %></p>
        <% if post.comments.count > 1 %>
          <div class="text-xs opacity-70 ml-2">
            <%= post.comments.count - 1  %> more
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="flex items-end">
      <div class="flex grow items-center flex-wrap w-[calc(100%-34px)]">
        <%= turbo_frame_tag :post_reactions do %>
          <%= render partial: 'post_reactions/list', locals: { post: post } %>
        <% end %>
      </div>
      <% if on_timeline %>
        <%= link_to post_path(post.id), class: icon_button_class, data: { turbo_frame: "_top" } do %>
          <div class="i-lucide-arrow-right"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
