<div id="post_<%= post.id %>" class="<%= "#{card_class} #{request.path.match?("posts") ? "border-b" : 'mb-4'}" %> transition-all animate-fade-in" data-controller="post-show" data-testid="<%= post.body %>" >
  <div class="mb-4">
    <div class="flex flex-col-reverse sm:flex-row mb-3 items-start space-x-1">
      <div class="flex items-center space-x-1 flex-wrap">
        <%= render partial: "shared/avatar", locals: { user: post.user } %>
        <time class="text-gray-400 text-sm"><%= time_ago_in_words(post.created_at) %></time>
      </div>
      <div class="grow flex items-center space-x-1 w-full sm:w-auto">
        <div class="grow"></div>
        <button class="<%= icon_button_class %>"  data-controller="copy tooltip" data-copy-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-tooltip-text-value="<%= I18n.t("posts.copy-markdown") %>" data-copy-content-value="<%= post.body %>">
          <div class="i-lucide-copy"></div>
        </button>
        <button class="<%= icon_button_class %>"  data-controller="copy tooltip" data-copy-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-tooltip-text-value="<%= I18n.t("posts.copy-link") %>" data-copy-content-value="<%= post_url(post) %>">
          <div class="i-lucide-link"></div>
        </button>
        <%= turbo_frame_tag "pin_button_container", src: post_pin_button_path(post), data: { post_show_target: "menu" } %>
        <%= turbo_frame_tag "post_menu-#{post.id}", src: post_menu_path(post) %>
      </div>
    </div>
    <div data-post-show-target="show" data-controller="image-modal twitter" class="markdown-body">
      <%= post.html.html_safe %>
    </div>
    <%= turbo_frame_tag "post_editor-#{post.id}", src: post_editor_path(post) %>
  </div>
  <% if post.comments.count > 0 %>
    <div class="text-xs flex items-center">
      <%= image_tag post.user.avatar_icon, class: "w-4 h-4 rounded-full mr-1" %>
      <p class="opacity-70"><%= post.comments.latest&.first&.truncated(32) %></p>
    </div>
  <% end %>
  <div class="flex items-end">
    <div class="flex grow items-center flex-wrap w-[calc(100%-40px)]">
      <div class="flex items-center flex-wrap overflow-hidden">
        <%= turbo_frame_tag "post_reactions_list-#{post.id}", src: post_reactions_path(post), class: "flex items-center flex-wrap" %>
      </div>
      <div class="flex items-center">
        <% if post.comments.count > 0 %>
        <div class="<%= indicator_class %>">
          <span class="i-lucide-server mr-1"></span>
          <%= post.comments.count %>
        </div>
        <% end %>
        <% if post.cheers.count > 0 %>
          <div class="<%= indicator_class %>">
            <span class="i-lucide-message-circle mr-1"></span>
            <%= post.cheers.count %>
          </div>
        <% end %>
      </div>
    </div>
    <% if request.path.exclude? "posts" %>
      <%= link_to post_path(post.id), class: icon_button_class do %>
        <div class="i-lucide-arrow-right"></div>
      <% end %>
    <% end %>
  </div>
</div>
