<div id="post_<%= post.id %>" class="<%= card_class %>  transition-opacity animate-fade-in">
  <div class="mb-3 flex items-center space-x-1">
    <div class="flex hover:underline items-center space-x-1 relative">
      <%= render partial: 'shared/avatar', locals: { user: post.user } %>
    </div>
    <time class="text-gray-400 text-sm"><%= time_ago_in_words(post.created_at) %></time>
    <div class="grow"></div>
  </div>
  <div class="markdown-body" style="<%= post.emoji_only? ? "font-size: 32px;" : "" %>">
    <%= post.html(400).html_safe %>
  </div>
  <div class="flex mt-3 items-center">
    <div class="flex items-center w-full flex-wrap overflow-hidden">
      <%= render partial: 'shared/post_reactions', locals: { current_user: current_user, post: post, reaction: @post_reaction } %>
    </div>
    <% if post.comments.count > 0 %>
    <div class="text-xs mr-1 w-10 text-right mb-[2px]">
      <%= I18n.t("comments.count", num: post.comments.count) %>
    </div>
    <% end %>
    <%= link_to thread_path(post.id), data: { turbo_frame: "thread", controller: "sidebar" }, class: icon_button_class + " flex items-center hidden lg:block" do %>
      <%= image_tag "icons/comment.svg", alt: "comment", width:"14px", height: "14px", class: "icon" %>
    <% end %>
    <%= link_to post_path(post.id), class: icon_button_class + " flex items-center lg:hidden block" do %>
      <%= image_tag "icons/comment.svg", alt: "comment", width:"14px", height: "14px", class: "icon" %>
    <% end %>
  </div>
</div>
