<div id="post_<%= post.id %>" class="<%= card_class %> <%= strip_tags(post.html).length < 64 && !post.comments.present? ? "max-w-sm mx-auto" : "" %> transition-opacity animate-fade-in">
  <div class="mb-3 flex items-center space-x-1">
    <div class="flex hover:underline items-center space-x-1 relative">
      <%= render partial: 'shared/avatar', locals: { user: post.user } %>
    </div>
    <time class="text-gray-400 text-sm"><%= time_ago_in_words(post.created_at) %></time>
    <div class="grow"></div>
  </div>
  <div class="markdown-body" data-controller="twitter image-modal" style="<%= post.emoji_only? ? "font-size: 32px;" : "" %>">
    <%= post.html(400).html_safe %>
  </div>
  <div class="flex mt-3 items-end flex-wrap">
    <div class="flex items-center space-x-1 flex-wrap w-[calc(100%-48px)]">
      <div class="flex items-center overflow-hidden">
        <%= turbo_frame_tag "post-reactions-#{post.id}" do %>
          <%= render partial: 'shared/post_reactions', locals: { current_user: current_user, post: post, reaction: @post_reaction } %>
        <% end %>
      </div>
      <div class="flex px-2 flex-wrap items-center space-x-2">
        <% post.comments.latest[0..1].each do |comment| %>
          <div class="w-auto ounded-full py-[4px] mx-[2px] px-3 my-1 flex items-center space-x-1 border bg-gray-50 dark:bg-slate-700 dark:border-slate-700 border-gray-50 text-sm rounded-lg">
            <%= comment.truncated(32) %>
          </div>
        <% end %>
        <% if post.comments.count > 2 %>
        <div class="text-sm text-right">
          <%= I18n.t("comments.count", num: post.comments.count - 2) %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="grow"></div>
    <%= link_to post_path(post.id), class: icon_button_class + " flex items-center" do %>
      <%= image_tag "icons/forward.svg", alt: "forward", width: "24px", height: "14px", class: "icon" %>
    <% end %>
  </div>
</div>
