<div class="grow w-full">
  <div class="mb-4 flex items-center space-x-4">
    <div class="grow"></div>
    <%= turbo_frame_tag "pin_button_container", src: post_pin_button_path(@post), loading: :lazy %>
    <button class="<%= block_link_class %> bg-gray-50 border dark:border-dark-border dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600" data-controller="tobottom">
      <%= image_tag "icons/down.svg", alt: "down", width: "24px", height: "24px",class: "icon" %>
      <span class="text-sm">To Bottom</span>
    </button>
  </div>
  <div class=" <%= card_class %>" data-controller="post-show">
    <%= turbo_frame_tag "post_main", src: post_main_path(@post), loading: :lazy %>
  </div>
  <div>
    <%= turbo_stream_from "comments-of-#{@post.id}" %>
    <div data-controller="thread-scroll">
      <%= turbo_frame_tag "comments", target: "_top" do %>
    </div>
    <% end %>

    <div class="h-1">
      <%= turbo_frame_tag "load_more", src: comments_path(@post, format: :turbo_stream), loading: :lazy  %>
    </div>
  </div>
  <%= turbo_frame_tag "comment_form", src: comment_form_path(@post), loading: :lazy %>
</div>
