<div class="grow w-full">
  <%= turbo_frame_tag "post_main", src: post_main_path(@post), loading: :lazy do %>
    <%= render partial: "posts/loading" %>
  <% end %>
  <div>
    <%= turbo_stream_from "comments-of-#{@post.id}" %>
    <div data-controller="thread-scroll">
      <%= turbo_frame_tag "comments", target: "_top" do %>
    </div>
    <% end %>

    <div class="h-1">
      <%= turbo_frame_tag "load_more", src: comments_path(@post, format: :turbo_stream), loading: :lazy  %>
    </div>
  </div>
  <%= turbo_frame_tag "comment_form", src: comment_form_path(@post), loading: :lazy %>
</div>

<button class="<%= icon_button_class %> fixed bottom-6 right-6 bg-white dark:bg-dark-card transition-all animate-fade-in" data-controller="tobottom" aria-label="To Bottom">
  <%= image_tag "icons/down.svg", alt: "down", width: "24px", height: "24px",class: "icon" %>
</button>
