<%= turbo_frame_tag "post_copy_link-#{@post.id}" do %>
  <button class="<%= icon_button_class %>"  data-controller="copy-url tooltip" data-copy-url-copied-text-value="<%= I18n.t("clipboard.copied") %>" data-tooltip-text-value="<%= I18n.t("posts.copy") %>" data-copy-url-url-value="<%= post_url(@post) %>">
    <div class="i-lucide-link"></div>
  </button>
<% end %>
