<div class="min-h-screen text-gray-700 text-sm">
  <%= form_with model: @post, url: update_post_path, method: "patch", data: { controller: "markdown", post_editor_confirm_message: I18n.t("page.confirm_leave") } do |f| %>
    <div class="flex fixed py-3 top-0 w-full items-center px-12 z-10">
      <%= link_to(root_path, class: "rounded-full p-relative p-2 hover:bg-gray-50 transition-all") do %>
        <%= image_tag "icons/back.svg", class: "w-6 h-6" %>
      <% end %>
      <div class="grow"></div>
      <div class="px-1">
        <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all" title="<%=  I18n.t('posts.preview') %>" data-action="markdown#preview" data-markdown-target="previewButton">
          <%= image_tag "icons/preview.svg", class: "w-6 h-6" %>
        </button>
        <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all hidden" title="<%=  I18n.t('posts.edit') %>" data-action="markdown#edit" data-markdown-target="editorButton">
          <%= image_tag "icons/edit.svg", class: "w-6 h-6" %>
        </button>
      </div>
      <div class="px-1">
        <%= f.submit I18n.t('posts.save_as_draft'), class: "rounded-sm px-2 py-1 hover:bg-gray-50 transition-all disabled:opacity-30", data: { post_editor_target: "draft" } %>
      </div>
      <div class="px-1">
        <%= f.submit I18n.t('posts.publish'), class: primary_button_class, data: { post_editor_target: "publish" } %>
      </div>
    </div>
    <div class="mt-20">
      <%= flash[:error] %>
      <div class="max-w-3xl mx-auto">
        <div class="bg-white">
          <div data-markdown-target="editorContainer">
            <%= f.text_area :body, data: { markdown_target: "editor", markdown_editor_min_height_value: "500px" } %>
          </div>
          <div class="markdown-body hidden px-5" data-markdown-target="preview"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
