<%= turbo_stream.replace "first_loading" do %>
<% end %>

<%= turbo_stream.append "posts" do %>
  <% if @posts.present? %>
    <%= render partial: "posts/post", collection: @posts, locals: { additional_class: "border-b", on_timeline: true } %>
    <%= turbo_stream.replace "load_more" do %>
      <div class="h-1">
        <%= turbo_frame_tag "load_more", src: root_path(page: @next_page, format: :turbo_stream), loading: :lazy %>
      </div>
    <% end %>
    <%= turbo_stream.replace "loading" do %>
      <div class="flex w-full py-8 text-4xl text-gray-500">
        <div class="grow"></div>
        <div class="i-svg-spinners-bars-rotate-fade"></div>
        <div class="grow"></div>
      </div>
    <% end %>
  <% else %>
    <div class="<%= card_class %> text-center">
      <div class="card-body mb-4">
        <p class="card-text">
          <%= I18n.t("following.empty") %>
      </div>
      <a class="text-blue-500 underline" href="/latest"><%= I18n.t("pages.latest") %></a>
    </div>
    <%= turbo_stream.replace "load_more" do %>
    <% end %>
  <% end %>
<% end %>
