<div class="flex grow relative ">
  <div class="grow w-full" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <div id="nav-container" class="top-[1rem] sticky z-[50] px-4" data-turbo-permanent>
      <div class="<%= nav_class %>">
        <%= turbo_frame_tag "timeline_nav_for_current_user", src: users_timeline_nav_path(current: request.path) %>
      </div>
    </div>
    <div class="max-w-3xl mx-auto px-4">
      <%= turbo_frame_tag "post_form", src: post_form_path %>
      <%= turbo_stream_from "posts" %>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <div class="h-1">
        <%= turbo_frame_tag "load_more", src: request.path.include?("latest") ? latest_path(format: :turbo_stream) : root_path(format: :turbo_stream), loading: :lazy  %>
        <%= turbo_frame_tag "loading" do %>
          <%= render partial: "posts/loading" %>
          <div class="hidden sm:block">
            <%= render partial: "posts/loading" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
