<%= turbo_stream.append "posts" do %>
  <% if @posts.present? %>
    <%= render partial: "posts/post", collection: @posts, locals: { additional_class: "mb-4", on_timeline: true } %>
  <% else %>
    <div class="<%= card_class %> font-bold text-center">
      <div class="card-body">
        <p class="card-text">
          <%= I18n.t("following.empty") %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @next_page.present? %>
  <%= turbo_stream.replace "load_more" do %>
    <%= turbo_frame_tag "load_more", src: request.path.include?("latest") ? latest_path(page: @next_page, format: :turbo_stream) : root_path(page: @next_page, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "loading" do %>
  <% end %>
<% end %>
