<div class="flex grow relative ">
  <div class="grow w-full max-w-3xl mx-auto p-4" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <div class="max-w-3xl mx-auto">
      <div id="post-form-container" data-turbo-permanent>
        <%= turbo_frame_tag "post_form", src: post_form_path %>
      </div>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <%= turbo_frame_tag "first_loading" do %>
        <div class="fixed top-1/2 left-1/2 -translate-x-1/2 text-4xl text-gray-500 -translate-y-1/2">
          <div class="i-svg-spinners-bars-rotate-fade"></div>
        </div>
      <% end %>
      <%= turbo_frame_tag "loading" do %>
      <% end %>
      <%= turbo_frame_tag "load_more", src: root_path(format: :turbo_stream)  %>
    </div>
    <% end %>
  </div>
</div>
