<div class="flex grow relative ">
  <div class="grow w-full max-w-3xl mx-auto p-4" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <div class="max-w-3xl mx-auto">
      <% if current_user %>
        <div class="flex w-full <%= card_class %> space-x-3 border rounded mb-4 shadow-sm dark:border-dark-border">
          <div class="transition-all w-[32px]">
            <%= link_to user_path(username: current_user.username), class: "w-8 flex items-center space-x-1 hover:underline mt-1" do %>
              <%= image_tag current_user.avatar_icon, alt: "", class: "w-8 h-8 object-cover rounded-full" %>
            <% end %>
          </div>
          <div class="w-[calc(100%-45px)]">
            <%= render partial: "posts/form", locals: { post: @post, page: @page } %>
          </div>
        </div>
      <% end %>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <%= turbo_frame_tag "first_loading" do %>
        <div class="fixed top-1/2 left-1/2 -translate-x-1/2 text-4xl text-gray-500 -translate-y-1/2">
          <div class="i-svg-spinners-bars-rotate-fade"></div>
        </div>
      <% end %>
      <%= turbo_frame_tag "loading" do %>
      <% end %>
      <%= turbo_frame_tag "load_more", src: root_path(format: :turbo_stream)  %>
    </div>
    <% end %>
  </div>
</div>
