<div class="flex grow relative ">
  <div class="grow w-full" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <div id="nav-container" class="top-0 sticky z-[50]" data-turbo-permanent>
      <div class="<%= nav_class %>">
        <%= turbo_frame_tag "timeline_nav_for_current_user", src: users_timeline_nav_path(current: request.path), class: nav_list_class %>
      </div>
    </div>
    <div class="max-w-3xl mx-auto px-4">
      <div id="post-form-container" data-turbo-permanent>
        <%= turbo_frame_tag "post_form", src: post_form_path %>
      </div>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <div class="h-1">
        <%= turbo_frame_tag "load_more", src: request.path.include?("latest") ? latest_path(format: :turbo_stream) : root_path(format: :turbo_stream)  %>
        <%= turbo_frame_tag "loading" do %>
          <%= render partial: "shared/loading" %>
          <%= render partial: "shared/loading" %>
          <%= render partial: "shared/loading" %>
          <%= render partial: "shared/loading" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
