<div class="flex grow relative ">
  <div class="grow w-full" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <%= render partial: "shared/timeline_nav" %>
    <div class="max-w-3xl mx-auto px-4 <%= current_user ? "" : "pt-4"%>">
      <%= turbo_frame_tag "post_form", src: post_form_path, loading: :lazy %>
      <%= turbo_stream_from "posts" %>
      <%= turbo_frame_tag "posts", target: "_top" do %>
      <% end %>

      <div class="h-1">
        <%= turbo_frame_tag "load_more", src: request.path.include?("latest") ? latest_path(format: :turbo_stream) : root_path(format: :turbo_stream), loading: :lazy  %>
        <%= turbo_frame_tag "loading" do %>
          <%= render partial: "posts/loading" %>
          <div class="hidden sm:block">
            <%= render partial: "posts/loading" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="grow w-1/2 hidden border-l overflow-visible sm:h-[calc(100vh-55px)] sm:overflow-scroll dark:border-l-dark-border" id="sidebar-container">
    <%= turbo_frame_tag "sidebar" %>
  </div>
</div>
