<%= turbo_frame_tag "post_menu-#{@post.id}" do %>
  <% if current_user == @post.user %>
    <div data-controller="menu" data-post-show-target="menu" class="overflow-visible relative">
      <button class="<%= icon_button_class %>" data-action="menu#open" >
        <div class="i-lucide-more-horizontal"></div>
      </button>
      <div data-action="click->menu#close" data-menu-target="backdrop" class="<%= backdrop_class %>"></div>
      <div class="absolute top-10 transition-all animate-down right-0 z-[100] hidden w-full" data-menu-target="dropdown">
        <button class="<%= icon_button_class %> shadow mb-2 border dark:border-dark-border w-full flex items-center space-x-2 bg-white dark:bg-dark-card" data-action="post-show#edit menu#close" data-post-show-target="editButton" >
          <div class="i-lucide-pen"></div>
        </button>
        <div class="mt-[1px]">
          <%= button_to(
            delete_post_url(id: @post.id),
            method: :delete,
            class: "#{icon_button_class} shadow w-full flex items-center space-x-2 border dark:border-dark-border bg-white dark:bg-dark-card",
            onClick: "return confirm('#{I18n.t('posts.confirm_delete')}')",
            data: { turbo: false, post_show_target: "deleteButton", action: "menu#close" },
            
          ) do %>
            <div class="i-lucide-trash"></div>
          <% end %>
        </div>
      </div>
    </div>
    <button class="hidden <%= icon_button_class %>" data-action="post-show#close" data-post-show-target="closeButton">
      <div class="i-lucide-x"></div>
    </button>
  <% end %>
<% end %>
