<%= turbo_stream.append "pinned" do %>
  <% if @posts.present? %>
    <%= render partial: "posts/post", collection: @posts, locals: { additional_class: "mb-4", on_timeline: true } %>
  <% else %>
    <div class="<%= card_class %>">
      <div class="text-gray-400 text-sm">
        <%= I18n.t("pinned.empty") %><%= I18n.t("pinned.empty2") %>
      </div>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "first_loading" do %>
<% end %>
