<% set_meta_tags(
  title: strip_tags(@post.html).gsub(/\n/, "").gsub(/\//, "").truncate(64),
  og: {
    title: "#{Site.title}｜#{strip_tags(@post.html).gsub(/\n/, "").gsub(/\//, "").truncate(64)}",
    image: "https://res.cloudinary.com/dw1xpb7if/image/upload/l_text:jxfzypcvmrsidywwbv9l.ttf_60:#{strip_tags(@post.html).gsub(/\n/, "").gsub(/\//, "").truncate(64)},w_1000,c_fit/v1690514139/post-ogp_abomrr.png"
  },
  twitter: {
    image: "https://res.cloudinary.com/dw1xpb7if/image/upload/l_text:jxfzypcvmrsidywwbv9l.ttf_60:#{strip_tags(@post.html).gsub(/\n/, "").gsub(/\//, "").truncate(64)},w_1000,c_fit/v1690514139/post-ogp_abomrr.png"
  }
) %>

<div class=" max-w-3xl mx-auto px-5">
  <div class="py-5 bg-white p-5 rounded-lg mb-5 shadow-sm" data-controller="post-show">
    <div class="flex mb-3 items-center space-x-1">
      <%= render partial: "shared/avatar", locals: { user: @post.user } %>
      <time class="text-gray-400 text-sm"><%= time_ago_in_words(@post.created_at) %></time>
      <div class="grow"></div>
      <% if current_user == @post.user %>
      <button class="hover:bg-gray-100 rounded-full p-2" data-action="post-show#edit" data-post-show-target="editButton">
        <%= image_tag "icons/edit.svg", alt: "edit", class: "w-5 h-5" %>
      </button>
      <button class="hidden hover:bg-gray-100 rounded-full p-2" data-action="post-show#close" data-post-show-target="closeButton">
        <%= image_tag "icons/cancel.svg", alt: "edit", class: "w-5 h-5" %>
      </button>
      <div class="mt-[1px]">
        <%= button_to(
          delete_post_url(id: @post.id),
          method: :delete,
          class: "hover:bg-gray-100 rounded-full p-2",
          onClick: "return confirm('#{I18n.t('posts.confirm_delete')}')",
          data: { turbo: false, post_show_target: "deleteButton" }
        ) do %>
          <%= image_tag "icons/delete.svg", alt: "edit", class: "w-5 h-5" %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= turbo_frame_tag :post, data: { post_show_target: "show" }, class: "markdown-body" do %>
      <%= @post.html.html_safe %>
    <% end %>
    <div class="hidden" data-post-show-target="editor">
      <%= form_with model: @post, url: update_post_path(id: @post.id), id: "post-form", data: { action: "turbo:submit-end->post-show#close",turbo_frame: :post, controller: "turbo-form markdown", post_editor_confirm_message: I18n.t("page.confirm_leave"),  markdown_min_height_value: "100px", markdown_placeholder_value: I18n.t("posts.placeholder") }, class: "grow transition-all" do |f| %>
        <div>
          <%= flash[:error] %>
          <div class="max-w-3xl mx-auto">
            <div class="bg-white">
              <div data-markdown-target="editorContainer">
                <%= f.text_area :body, data: { markdown_target: "editor", post_editor_target: "body" }, class: "prose resize-none min-h-[114px]" %>
              </div>
              <div class="markdown-body hidden px-5 min-h-[120px]" data-markdown-target="preview"></div>
            </div>
          </div>
        </div>
        <div class="flex pt-3 w-full items-center bg-white">
          <div class="grow"></div>
          <div class="px-1">
            <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all" title="<%=  I18n.t('posts.preview') %>" data-action="markdown#preview" data-markdown-target="previewButton">
              <%= image_tag "icons/preview.svg", alt: "preview", class: "w-5 h-5" %>
            </button>
            <button type="button" class="rounded-full p-relative p-2 hover:bg-gray-50 transition-all hidden" title="<%=  I18n.t('posts.edit') %>" data-action="markdown#edit" data-markdown-target="editorButton">
              <%= image_tag "icons/edit.svg", alt: "edit", class: "w-5 h-5" %>
            </button>
          </div>
          <div class="px-1">
            <%= f.submit I18n.t('posts.update'), disabled: true, class: primary_button_class, data: { post_editor_target: "publish" } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-2">
      <%= render partial: 'shared/post_reactions', locals: { current_user: current_user, post: @post, reaction: @post_reaction } %>
    </div>
  </div>
  <% if current_user %>
  <div class="p-5 bg-white shadow-sm my-5 rounded-lg">
    <%= render partial: "comments/form", locals: { comment: @comment, post: @post } %>
  </div>
  <% end %>
  <div>
    <%= turbo_frame_tag "comments" do %>
      <%= render partial: 'comments/item', collection: @post.comments.order(created_at: :desc) %>
    <% end %>
  </div>
</div>
