<div class="flex grow relative ">
  <div class="grow w-full" id="main">
    <%= turbo_frame_tag "timeline" do %>
    <div id="nav-container" data-turbo-permanent><%= turbo_frame_tag "timeline_nav_for_current_user", src: users_timeline_nav_path(current: request.path) %></div>
    <div class="max-w-4xl mx-auto px-4">
      <%= turbo_frame_tag "post_form", src: post_form_path %>
      <%= turbo_stream_from "trending" %>
      <%= turbo_frame_tag "trending", target: "_top" do %>
      <% end %>

      <div class="h-1">
        <%= turbo_frame_tag "trending_load_more", src: trending_path(format: :turbo_stream), loading: :lazy  %>
        <%= turbo_frame_tag "trending_loading" do %>
          <%= render partial: "posts/loading" %>
          <div class="hidden sm:block">
            <%= render partial: "posts/loading" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
