<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= display_meta_tags(default_meta_tags)%>
    <meta name="description" content="<%= Site.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hyrious/github-markdown-css@main/dist/light.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/backdrop.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
      const mo = new MutationObserver(() => {
        hljs.highlightAll();
      })
      mo.observe(document.documentElement, { childList: true });
      document.documentElement.addEventListener('turbo:frame-render', () => {
        hljs.highlightAll();
      })
    </script>
  </head>

  <body style="background-color: rgb(246, 248, 250);">
    <header class="w-full bg-white shadow-sm rounded-t-lg">
      <div class="flex px-5 items-center py-3 text-sm max-w-5xl mx-auto">
        <%= link_to "/", class: "block mr-3" do %>
          <img src="<%= "/logo.png" %>" alt="logo" width="70px" height="20px" />
        <% end %>
        <div class="grow"></div>
        <% if current_user %>
          <%= link_to user_path(username: current_user.username) do %>
            <%= image_tag current_user.avatar_icon, alt: current_user.username, class: "w-8 h-8 object-cover rounded-full" %>
          <% end %>
        <% else %>
          <%= link_to I18n.t("users.sign_in"), "/users/sign_in", class: "mr-2 rounded hover:bg-gray-50 py-1 px-2" %>
          <%= link_to I18n.t("users.sign_up"), "/users/sign_up", class: primary_button_class %>
        <% end %>
      <div>
    </header>

    <main class="p-4 min-h-[calc(100vh-55px-136px)] flex max-w-5xl mx-auto items-stretch space-x-4">
      <%= yield %>
      <div class="relative  hidden <%= should_render_sidebar? ? "md:block" : "md:hidden" %>">
        <div class="sticky text-sm top-4 bg-white shadow-sm rounded-lg w-64 p-4">
          <ul class="mb-4 flex flex-col">
            <li>
              <%= link_to I18n.t("pages.latest"), latest_path, class: "#{request.path === latest_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <% if current_user %>
            <li>
              <%= link_to I18n.t("pages.follow"), root_path, class: "#{request.path === root_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.your_posts"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.your_comments"), user_comments_path(current_user.username), class: "#{request.path === user_comments_path(current_user.username) ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.your_projects"), projects_path(current_user.username), class: "#{request.path === projects_path(current_user.username) ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <% end %>
            <li class="w-full border-b pb-2"></li>
            <li class="w-full pb-2"></li>
            <li>
              <%= link_to I18n.t("pages.docs"), docs_path, class: "#{request.path === docs_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.about"), about_path, class: "#{request.path === about_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.terms"), terms_path, class: "#{request.path === terms_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to I18n.t("pages.privacy"), privacy_path, class: "#{request.path === privacy_path ? "font-bold" : ""} py-1 px-2 block hover:bg-gray-50 rounded" %>
            </li>
            <li>
              <%= link_to "https://forms.gle/7FZz2iHzYLQYiom7A", class: " py-1 px-2 block hover:bg-gray-50 rounded", target: "_blank" do %>
                <span><%= I18n.t("pages.emoji_request") %></span>
                <%= image_tag "icons/newtab.svg", class: "inline-block h-3 w-3 pb-[1px] ml-[1px]" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/moekidev/timesy", class: " py-1 px-2 block hover:bg-gray-50 rounded", target: "_blank" do %>
                <span><%= I18n.t("pages.github") %></span>
                <%= image_tag "icons/newtab.svg", class: "inline-block h-3 w-3 pb-[1px] ml-[1px]" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://status.timesy.dev/", class: " py-1 px-2 block hover:bg-gray-50 rounded", target: "_blank" do %>
                <span><%= I18n.t("pages.status") %></span>
                <%= image_tag "icons/newtab.svg", class: "inline-block h-3 w-3 pb-[1px] ml-[1px]" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.buymeacoffee.com/moekidev", class: " py-1 px-2 block hover:bg-gray-50 rounded", target: "_blank" do %>
                <span><%= I18n.t("pages.tip") %></span>
                <%= image_tag "icons/newtab.svg", class: "inline-block h-3 w-3 pb-[1px] ml-[1px]" %>
              <% end %>
            </li>
          </ul>
          <div>
            <p class="text-right text-gray-500 font-normal text-xs">
              &copy; 2023 Timesy
            </p>
          </div>
        </div>
      </div>

    </main>
    <footer class="text-center py-8 px-5 text-sm">
      <div class="mb-2">
        <%= link_to Site.title, root_path, class: "font-bold" %> - <%= Site.description %>
      </div>
      <div class="mb-2">
        <%= link_to "About", about_path, class: "text-gray-600" %>
        <span>・</span>
        <%= link_to "Terms", terms_path, class: "text-gray-600" %>
        <span>・</span>
        <%= link_to "Privacy", privacy_path, class: "text-gray-600" %>
        <span>・</span>
        <%= link_to "Status", "https://status.timesy.dev/", class: "text-gray-600", target: "_blank" %>
      </div>
      <p class="text-gray-600 text-xs">© 2023 Timesy</p>
    </footer>

  </body>
</html>
