<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NL940XB42X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NL940XB42X');
    </script>
    <%= display_meta_tags(default_meta_tags)%>
    <meta name="description" content="<%= Site.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= turbo_frame_tag "code_theme", src: users_code_theme_path, loading: :lazy %>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script> 
  </head>

  <body class="bg-background bg-cover bg-fixed dark:bg-dark-background" data-background-image="<%= !browser.device.mobile? && !browser.device.tablet? && current_user&.wallpaper_url %>">
    <script>
      document.querySelector('body').style.backgroundImage = `url(${localStorage.wallpaper})`
      if (localStorage.theme === 'dark') {
        document.querySelector('body').classList.add('dark')
      } else {
        document.querySelector('body').classList.remove('dark')
      }
    </script>
    <div id="wallpaper-container" data-turbo-permanent>
      <%= turbo_frame_tag "wallpaper", src: users_wallpaper_path, loading: :lazy %>
    </div>
    <header class="w-full shadow-sm  bg-white dark:bg-dark-background dark:text-gray-200 border-b z-0 dark:border-dark-border" id="header" data-turbo-permanent>
      <div class="flex max-w-2xl mx-auto px-4 items-center py-3 text-sm">
        <%= link_to "/", class: "block mr-3", data: { turbo_frame: "_top" } do %>
          <span class="dark:hidden">
            <%= image_tag "/logo.png", alt: "logo", width: "70px", height: "20px" %>
          </span>
          <span class="hidden dark:block">
            <%= image_tag "/logo-dark.png", alt: "logo", width: "70px", height: "20px" %>
          </span>
        <% end %>
        <div class="grow"></div>
        <div class="h-[40px] z-[100]">
          <%= turbo_frame_tag "header_menu", src: users_header_path, loading: :lazy %>
        </div>
      <div>
    </header>

    <main class="flex w-full items-stretch max-w-7xl mx-auto">
      <div class="hidden xl:block">
        <div class="p-4 pr-0 w-[240px] top-0 sticky" id="left-sidebar" data-turbo-permanent>
           <ul class="flex flex-col <%= card_class %>">
              <li>
                <%= link_to I18n.t("pages.timeline"), root_path, class: "#{request.path === root_path ? "font-bold" : ""} #{block_link_class} mb-1", data: { turbo_frame: "_top" } %>
              </li>
              <%= turbo_frame_tag "left_sidebar", src: users_left_sidebar_path, loading: :lazy %>
              <li class="w-full dark:border-dark-border border-b pb-2"></li>
              <li class="w-full pb-2"></li>
              <li>
                <%= link_to I18n.t("pages.docs"), "https://about.timesy.dev/docs/intro", class: "#{block_link_class} mb-1" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.about"), "https://about.timesy.dev", class: "#{block_link_class} mb-1" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.blog"), "https://about.timesy.dev/blog", class: "#{block_link_class} mb-1" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.terms"), terms_path, class: "#{request.path === terms_path ? "font-bold" : ""} #{block_link_class} mb-1", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to I18n.t("pages.privacy"), privacy_path, class: "#{request.path === privacy_path ? "font-bold" : ""} #{block_link_class} mb-1", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to "https://forms.gle/7FZz2iHzYLQYiom7A", class: " #{block_link_class} mb-1" do %>
                  <span><%= I18n.t("pages.emoji_request") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://github.com/moekidev/timesy", class: " #{block_link_class} mb-1" do %>
                  <span><%= I18n.t("pages.github") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://status.timesy.dev/", class: " #{block_link_class} mb-1" do %>
                  <span><%= I18n.t("pages.status") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.buymeacoffee.com/moekidev", class: " #{block_link_class} mb-1" do %>
                  <span><%= I18n.t("pages.tip") %></span>
                <% end %>
              </li>
            </ul>
        </div>
      </div>
      <div class="grow max-w-full xl:w-[calc(100%-240px-400px)]">
        <%= yield %>
      </div>
      <div class="hidden w-[400px] xl:block" id="right-sidebar" data-turbo-permanent>
        <div class="p-4 pl-0 top-0 sticky h-screen overflow-scroll">
          <%= form_tag search_path, data: { turbo: false }, method: :get do |f| %>
            <div class="flex">
              <input type="search" name="q" id="q" value="<%= params[:q] %>" placeholder="<%= I18n.t("pages.search") %>" class="<%= text_field_class %> border-none shadow px-4 py-1 rounded-full" />
            </div>
          <% end %>
          <%= turbo_frame_tag "right_sidebar", src: users_right_sidebar_path, loading: :lazy %>
          <div class="<%= card_class %> mt-4">
            <h3 class="font-bold mb-4 "><%= I18n.t("pages.trending") %></h3>
            <%= turbo_frame_tag "trending", target: "_top" %>

            <%= turbo_frame_tag "trending_load_more", src: trending_path(format: :turbo_stream), loading: :lazy  %>
            <%= turbo_frame_tag "trending_loading" do %>
              <%= render partial: "posts/loading" %>
            <% end %>
          </div>
        </div>
      </div>
    </main>

    <div id="image-modal" class="modal micromodal-zoom" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div role="dialog" aria-modal="true" class="modal__container" >
          <img id="image-modal-image" class="max-w-[900px] w-screen h-screen object-contain" src="" alt="" data-micromodal-close>
        </div>
      </div>
    </div>
  </body>
</html>
