<!DOCTYPE html>
<html lang="ja">
  <%= render partial: "layouts/head" %>

  <body class="bg-white bg-cover bg-fixed dark:bg-dark-card">
    <script>
      document.querySelector('body').style.backgroundImage = `url(${localStorage.wallpaper})`
      if (localStorage.theme === 'dark') {
        document.querySelector('body').classList.add('dark')
      } else {
        document.querySelector('body').classList.remove('dark')
      }
    </script>
    <div
      id="wallpaper-url"
      data-background-image="<%= !browser.device.mobile? && !browser.device.tablet? && current_user&.wallpaper_url %>"></div>
    <header class="w-full bg-gray-50  dark:bg-gray-800 border-b dark:border-dark-border dark:text-gray-200 z-10">
      <div class="flex max-w-3xl mx-auto px-4 items-center py-2 text-sm">
        <%= link_to "/", class: "block mr-3 text-2xl font-bold", data: { turbo_frame: "_top" } do %>
          T
        <% end %>
        <div class="grow"></div>
        <div class="h-[38px] z-[100]">
          <div class="flex items-center z-[100]">
            <div data-controller="theme" class="mr-1">
              <button data-action="theme#toggle" data-theme-target="dark" class="hidden <%= icon_button_class %>">
                <div class="i-lucide-sun"></div>
              </button>
              <button data-action="theme#toggle" data-theme-target="light" class="hidden <%= icon_button_class %>" >
                <div class="i-lucide-moon"></div>
              </button>
            </div>
            <% if current_user %>
              <div class="overflow-visible relative z-[100] mr-2 " data-controller="notification">
                <button
                  data-action="click->notification#toggle click->notification#read"
                  class="relative <%= icon_button_class %>"
                  data-turbo-frame="notifications"
                  
                >
                  <div class="i-lucide-bell"></div>
                  <div data-notification-target="indicator" class="hidden absolute top-2 right-2 w-2 h-2 rounded-full bg-red-500 text-white text-xs items-center justify-center"></div>
                </button>
                <div
                  data-notification-target="dropdown"
                  class="<%= dropdown_class %> max-h-96 overflow-scroll">
                  <%= turbo_stream_from "notifications-for-#{current_user.id}" %>
                  <%= turbo_frame_tag :notifications, src: notifications_path do %>
                  <% end %>
                </div>
                <div data-action="click->notification#toggle" data-notification-target="backdrop" class="<%= backdrop_class %>"></div>
              </div>
            <% end %>
            <% if !current_user %>
              <%= link_to I18n.t("users.sign_in"), "/users/sign_in", class: "#{block_link_class} mr-1", data: { turbo_frame: "_top" }  %>
              <%= link_to I18n.t("users.sign_up"), "/users/sign_up", class: "#{primary_button_class} mr-2", data: { turbo_frame: "_top", testid: "signup-link" } %>
            <% end %>
            <div data-controller="menu" class="-ml-1 overflow-visible relative">
            <button data-action="click->menu#open" class="<%= icon_button_class %>" >
              <div class="i-lucide-menu"></div>
            </button>
            <div data-action="click->menu#close" data-menu-target="backdrop" class="<%= backdrop_class %>"></div>
            <div class="<%= dropdown_class %>"  data-menu-target="dropdown">
              <div class="text-sm h-full w-full p-4 dark:border-dark-border">
                <ul class="flex flex-col space-y-1">
                  <li>
                  <%= link_to I18n.t("pages.timeline"), root_path, class: block_link_class, data: { turbo_frame: "_top" } %>
                  </li>
                  <% if current_user %>
                  <li>
                    <%= link_to I18n.t("pages.latest"), latest_path, class: block_link_class, data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.pinned"), pinned_path, class: block_link_class, data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.your_profile"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <% end %>
                  <li class="w-full dark:border-dark-border border-b pb-2"></li>
                  <li class="w-full pb-2"></li>
                  <li>
                    <%= link_to I18n.t("pages.docs"), docs_path(current_user&.locale), class: "#{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.about"), about_path(current_user&.locale), class: "#{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.terms"), terms_path(current_user&.locale), class: "#{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to I18n.t("pages.privacy"), privacy_path(current_user&.locale), class: "#{block_link_class}", data: { turbo_frame: "_top" } %>
                  </li>
                  <li>
                    <%= link_to "https://github.com/moekidev/timesy", class: " #{block_link_class}" do %>
                      <span><%= I18n.t("pages.github") %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "https://status.timesy.dev/", class: " #{block_link_class}" do %>
                      <span><%= I18n.t("pages.status") %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "https://www.buymeacoffee.com/moekidev", class: " #{block_link_class}" do %>
                      <span><%= I18n.t("pages.tip") %></span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <div>
    </header>

    <main class="w-full mt-[54px]">
      <%= yield %>
    </main>

    <div id="image-modal" class="modal micromodal-zoom" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div role="dialog" aria-modal="true" class="modal__container" >
          <img id="image-modal-image" class="max-w-[900px] w-screen h-screen object-contain" src="" alt="" data-micromodal-close>
        </div>
      </div>
    </div>
  </body>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script> 
</html>
