<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NL940XB42X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NL940XB42X');
    </script>
    <%= display_meta_tags(default_meta_tags)%>
    <meta name="description" content="<%= Site.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <% if current_user&.code_theme %>
      <link rel="stylesheet" type="text/css" href="/code_themes/<%= current_user&.code_theme&.name %>.css">
    <% else %>
      <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
      <link rel="stylesheet" type="text/css" href="/code_themes/none.css">
    <% end %>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script> 
  </head>

  <body class="bg-background bg-cover bg-fixed dark:bg-dark-background" data-background-image="<%= !browser.device.mobile? && !browser.device.tablet? && current_user&.wallpaper_url %>">
    <script>
      document.querySelector('body').style.backgroundImage = `url(${document.querySelector('body').dataset.backgroundImage})`
      if (localStorage.theme === 'dark') {
        document.querySelector('body').classList.add('dark')
      } else {
        document.querySelector('body').classList.remove('dark')
      }
    </script>
    <header class="w-full shadow-sm  bg-white dark:bg-dark-background dark:text-gray-200 border-b dark:border-dark-border">
      <div class="flex max-w-2xl mx-auto px-4 items-center py-3 text-sm">
        <%= link_to "/", class: "block mr-3", data: { turbo_frame: "_top" } do %>
          <span class="dark:hidden">
            <%= image_tag "/logo.png", alt: "logo", width: "70px", height: "20px" %>
          </span>
          <span class="hidden dark:block">
            <%= image_tag "/logo-dark.png", alt: "logo", width: "70px", height: "20px" %>
          </span>
        <% end %>
        <div class="grow"></div>
        <div data-controller="theme" class="mr-1 w-10 h-10">
          <button data-action="theme#toggle" data-theme-target="dark" class="hidden <%= icon_button_class %> transition-all animate-fade-in">
            <%= image_tag "icons/light.svg", width: "24px", height: "16px",class: "icon" %>
          </button>
          <button data-action="theme#toggle" data-theme-target="light" class="hidden <%= icon_button_class %> transition-all animate-fade-in">
            <%= image_tag "icons/dark.svg", width: "24px", height: "16px",class: "icon" %>
          </button>
        </div>
        <% if current_user %>
          <div class="overflow-visible mr-3 relative" data-controller="notification">
            <button
              data-action="click->notification#toggle click->notification#read"
              class="relative <%= icon_button_class %>"
              data-turbo-frame="notifications"
            >
              <%= image_tag "icons/notification.svg", width: "24px", height: "16px",class: "icon " %>
              <div data-notification-target="indicator" class="hidden absolute top-2 right-2 w-2 h-2 rounded-full bg-red-500 text-white text-xs items-center justify-center"></div>
            </button>
            <div
              data-notification-target="dropdown"
              class="<%= dropdown_class %> max-h-96 overflow-scroll">
              <%= turbo_stream_from "notifications-for-#{current_user.id}" %>
              <%= turbo_frame_tag :notifications, src: notifications_path do %>
              <% end %>
            </div>
            <div data-action="click->notification#toggle" data-notification-target="backdrop" class="<%= backdrop_class %>"></div>
          </div>
        <% end %>
        <% if !current_user %>
          <%= link_to I18n.t("users.sign_in"), "/users/sign_in", class: "#{block_link_class} mr-2" %>
          <%= link_to I18n.t("users.sign_up"), "/users/sign_up", class: primary_button_class %>
        <% end %>
        <div data-controller="menu" class="-mb-[4px] overflow-visible relative">
          <% if current_user %>
            <button data-action="click->menu#toggle">
              <%= image_tag current_user.avatar_icon, alt: current_user.username, class: "w-8 h-8 object-cover rounded-full" %>
            </button>
          <% else %>
            <button data-action="click->menu#toggle" class="<%= icon_button_class %> ml-1">
              <%= image_tag "icons/menu.svg", width: "24px", height: "16px",class: "icon" %>
            </button>
          <% end %>
          <div data-action="click->menu#toggle" data-menu-target="backdrop" class="<%= backdrop_class %>"></div>
          <div class="<%= dropdown_class %>"  data-menu-target="dropdown">
            <div class="text-sm h-full w-full p-4 dark:border-dark-border">
              <ul class="flex flex-col space-y-1">
                <% if current_user %>
                <li>
                  <%= link_to I18n.t("pages.follow"), root_path, class: "#{request.path === root_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <% end %>
                <li>
                  <%= link_to I18n.t("pages.latest"), latest_path, class: "#{request.path === latest_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <% if current_user %>
                <li>
                  <%= link_to I18n.t("pages.your_posts"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.your_comments"), user_comments_path(current_user.username), class: "#{request.path === user_comments_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.your_projects"), projects_path(current_user.username), class: "#{request.path === projects_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li class="w-full dark:border-dark-border border-b pb-2"></li>
                <li class="w-full pb-2"></li>
                <% end %>
                <li>
                  <%= link_to I18n.t("pages.docs"), "https://about.timesy.dev/docs/intro", class: "#{block_link_class}" %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.about"), "https://about.timesy.dev", class: "#{block_link_class}" %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.blog"), "https://about.timesy.dev/blog", class: "#{block_link_class}" %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.terms"), terms_path, class: "#{request.path === terms_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li>
                  <%= link_to I18n.t("pages.privacy"), privacy_path, class: "#{request.path === privacy_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
                </li>
                <li>
                  <%= link_to "https://forms.gle/7FZz2iHzYLQYiom7A", class: " #{block_link_class}" do %>
                    <span><%= I18n.t("pages.emoji_request") %></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://github.com/moekidev/timesy", class: " #{block_link_class}" do %>
                    <span><%= I18n.t("pages.github") %></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://status.timesy.dev/", class: " #{block_link_class}" do %>
                    <span><%= I18n.t("pages.status") %></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://www.buymeacoffee.com/moekidev", class: " #{block_link_class}" do %>
                    <span><%= I18n.t("pages.tip") %></span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <div>
    </header>

    <main class="flex w-full items-stretch max-w-7xl mx-auto">
      <div class="hidden xl:block">
        <div class="p-4 pr-0 w-[240px] top-0 sticky">
           <ul class="flex flex-col space-y-1 <%= card_class %>">
              <% if current_user %>
              <li>
                <%= link_to I18n.t("pages.follow"), root_path, class: "#{request.path === root_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <% end %>
              <li>
                <%= link_to I18n.t("pages.latest"), latest_path, class: "#{request.path === latest_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <% if current_user %>
              <li>
                <%= link_to I18n.t("pages.your_posts"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to I18n.t("pages.your_comments"), user_comments_path(current_user.username), class: "#{request.path === user_comments_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to I18n.t("pages.your_projects"), projects_path(current_user.username), class: "#{request.path === projects_path(current_user.username) ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li class="w-full dark:border-dark-border border-b pb-2"></li>
              <li class="w-full pb-2"></li>
              <% end %>
              <li>
                <%= link_to I18n.t("pages.docs"), "https://about.timesy.dev/docs/intro", class: "#{block_link_class}" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.about"), "https://about.timesy.dev", class: "#{block_link_class}" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.blog"), "https://about.timesy.dev/blog", class: "#{block_link_class}" %>
              </li>
              <li>
                <%= link_to I18n.t("pages.terms"), terms_path, class: "#{request.path === terms_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to I18n.t("pages.privacy"), privacy_path, class: "#{request.path === privacy_path ? "font-bold" : ""} #{block_link_class}", data: { turbo_frame: "_top" } %>
              </li>
              <li>
                <%= link_to "https://forms.gle/7FZz2iHzYLQYiom7A", class: " #{block_link_class}" do %>
                  <span><%= I18n.t("pages.emoji_request") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://github.com/moekidev/timesy", class: " #{block_link_class}" do %>
                  <span><%= I18n.t("pages.github") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://status.timesy.dev/", class: " #{block_link_class}" do %>
                  <span><%= I18n.t("pages.status") %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.buymeacoffee.com/moekidev", class: " #{block_link_class}" do %>
                  <span><%= I18n.t("pages.tip") %></span>
                <% end %>
              </li>
            </ul>
        </div>
      </div>
      <div class="grow max-w-full xl:w-[calc(100%-240px-400px)]">
        <%= yield %>
      </div>
      <div class="hidden w-[400px] xl:block" id="sidebar" data-turbo-permanent>
        <div class="p-4 pl-0 top-0 sticky h-screen overflow-scroll">
          <%= form_tag search_path, data: { turbo: false }, method: :get do |f| %>
            <div class="flex">
              <input type="search" name="q" id="q" value="<%= params[:q] %>" placeholder="<%= I18n.t("pages.search") %>" class="<%= text_field_class %> border-none shadow px-4 py-1 rounded-full" />
            </div>
          <% end %>
          <% if current_user %>
            <div class="<%= card_class %> mt-4">
              <h3 class="font-bold mb-4 "><%= I18n.t("pages.your_projects") %></h3>
              <a class="flex space-x-2 <%= card_class %> dark:hover:border-gray-700" href="<%= new_project_path %>">
                <%= image_tag "icons/add.svg", class: "icon w-6 h-6" %>
                <div class="font-bold"><%= I18n.t("projects.start") %></div>
              </a>
              <%= turbo_frame_tag "projects", target: "_top" %>

              <%= turbo_frame_tag "projects_load_more", src: projects_path(current_user.username, format: :turbo_stream, limit: 3), loading: :lazy  %>

              <%= turbo_frame_tag "projects_loading" do %>
                <%= render partial: "posts/loading" %>
              <% end %>
            </div>
            <div class="<%= card_class %> mt-4">
              <h3 class="font-bold mb-4 "><%= I18n.t("pages.pinned") %></h3>
              <%= turbo_frame_tag "pinned", target: "_top" %>

              <%= turbo_frame_tag "pinned_load_more", src: pinned_path(format: :turbo_stream, limit: 3), loading: :lazy  %>

              <%= turbo_frame_tag "pinned_loading" do %>
                <%= render partial: "posts/loading" %>
              <% end %>
            </div>
            <div class="<%= card_class %> mt-4">
              <h3 class="font-bold mb-4 "><%= I18n.t("pages.your_posts") %></h3>
              <%= turbo_frame_tag "users_posts", target: "_top" %>

              <%= turbo_frame_tag "users_load_more", src: user_path(current_user.username, format: :turbo_stream, limit: 3), loading: :lazy  %>

              <%= turbo_frame_tag "users_loading" do %>
                <%= render partial: "posts/loading" %>
              <% end %>
            </div>
          <% end %>
          <div class="<%= card_class %> mt-4">
            <h3 class="font-bold mb-4 "><%= I18n.t("pages.trending") %></h3>
            <%= turbo_frame_tag "trending", target: "_top" %>

            <%= turbo_frame_tag "trending_load_more", src: trending_path(format: :turbo_stream), loading: :lazy  %>
            <%= turbo_frame_tag "trending_loading" do %>
              <%= render partial: "posts/loading" %>
            <% end %>
          </div>
        </div>
      </div>
    </main>

    <div id="image-modal" class="modal micromodal-zoom" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div role="dialog" aria-modal="true" class="modal__container" >
          <img id="image-modal-image" class="max-w-[900px] w-screen h-screen object-contain" src="" alt="" data-micromodal-close>
        </div>
      </div>
    </div>
  </body>
</html>
