<!DOCTYPE html>
<html lang="ja">
  <%= render partial: "shared/head" %>

  <body style="background-color: rgb(246, 248, 250);">
    <%= render partial: "shared/header" %>
    <main class="p-4 min-h-[calc(100vh-54px-136px)] flex max-w-5xl mx-auto items-stretch space-x-4">
      <%= yield %>
      <%= render partial: "shared/sidebar" %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
