<!DOCTYPE html>
<html lang="ja">
  <head>
    <script defer data-domain="timesy.dev" src="https://plausible.io/js/script.js"></script>
    <%= display_meta_tags(default_meta_tags)%>
    <meta name="description" content="<%= Site.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= turbo_frame_tag "code_theme", src: users_code_theme_path %>
  </head>

  <body class="bg-background bg-cover bg-fixed dark:bg-dark-background">
    <script>
      document.querySelector('body').style.backgroundImage = `url(${localStorage.wallpaper})`
      if (localStorage.theme === 'dark') {
        document.querySelector('body').classList.add('dark')
      } else {
        document.querySelector('body').classList.remove('dark')
      }
    </script>
    <div id="wallpaper-container" data-turbo-permanent>
      <%= turbo_frame_tag "wallpaper", src: users_wallpaper_path %>
    </div>
    <header class="w-full shadow-sm  bg-white dark:bg-dark-background dark:text-gray-200 border-b z-0 dark:border-dark-border">
      <div class="flex max-w-3xl mx-auto px-4 items-center py-3 text-sm">
        <%= link_to "/", class: "block mr-3", data: { turbo_frame: "_top" } do %>
          <span class="dark:hidden">
            <%= image_tag "/logo.png", alt: Site.title, width: "70px", height: "20px" %>
          </span>
          <span class="hidden dark:block">
            <%= image_tag "/logo-dark.png", alt: Site.title, width: "70px", height: "20px" %>
          </span>
        <% end %>
        <div class="grow"></div>
        <div class="h-[40px] z-[100]">
          <%= turbo_frame_tag "header_menu", src: users_header_path %>
        </div>
      <div>
    </header>

    <main class="w-full max-w-3xl mx-auto">
      <%= yield %>
    </main>

    <div id="image-modal" class="modal micromodal-zoom" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div role="dialog" aria-modal="true" class="modal__container" >
          <img id="image-modal-image" class="max-w-[900px] w-screen h-screen object-contain" src="" alt="" data-micromodal-close>
        </div>
      </div>
    </div>
  </body>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script> 
</html>
